config MTK_PKVM_MKP
	tristate "MTK pKVM mkp"
	help
	  A new option CONFIG_MTK_PKVM_MKP for the feature.
	  This is used for printing log in pKVM(EL2). If you
	  are not sure about whether to enable it or not,
	  please set n.
