config DRM_MEDIATEK_V2
	bool "Version 2 of DRM Support for Mediatek SoCs"
	select FONT_SUPPORT
	help
	  Choose this option if you have a phone Mediatek
	  SoCs. The module will be called mediatek-drm v2
	  This driver provides kernel mode setting and
	  buffer management to userspace.

config DRM_MEDIATEK_DPTX_AUTO
	tristate "DRM DPTX AUTO Support for Mediatek SoCs"
	depends on DRM_MEDIATEK_V2
	help
	  DPTX AUTO driver for Mediatek SoCs.
	  This config will separate the auto from phone.
	  Choose this option if you want to enable
	  DPTX AUTO driver for auto.

config DRM_MEDIATEK_AUTO
	tristate "DRM AUTO Yocto Support for Mediatek SoCs"
	depends on DRM_MEDIATEK_V2
	help
	  DRM AUTO Yocto driver for Mediatek SoCs.
	  This config will separate the auto from phone.
	  Choose this option if you want to enable
	  DRM AUTO Yocto driver for auto.

config DRM_MEDIATEK_AUTO_YCT
	tristate "DRM AUTO Yocto Support for Mediatek SoCs"
	depends on DRM_MEDIATEK_V2
	help
	  DRM AUTO Yocto driver for Mediatek SoCs.
	  This config will separate the auto from phone.
	  Choose this option if you want to enable
	  DRM AUTO Yocto driver for auto.

config DRM_MTK_DISABLE_AEE_LAYER
	bool "Disable AEE Layer for the customer who don't want to produce AEE"
	help
	  Disable AEE Layer if you do not want to produce AEE.
	  Default Mediatek SoCs will produce AEE when exception occurred.
	  If this value is y, will not produce AEE.
	  If this value is n, will produce AEE.
	  If you do not produce AEE, please set it to Y in xxx_defconfig.

config DRM_MTK_R2Y
	bool "Support MTK RGB2YUV feature"
	help
	  Decide whether to support RGB 2 YUV by pq.
	  This config only for auto driver.
	  This feature requires the cowork of panel driver.
	  Enabling this feature ensures optimal color conversion
	  from RGB to YUV, which is essential for display and
	  imaging applications.

config MTK_AAL_SUPPORT
	bool "Support MTK ambient-light adaptive luma (AAL)"
	help
	  Decide whether to support ambient-light adaptive luma and
	  display visual enhancement.
	  This feature requires the cowork of AAL user-space algorithm process.

config MTK_DRE30_SUPPORT
	bool "Support DRE 30"
	help
	  Decide whether to support ambient-light adaptive luma and
	  display visual enhancement ver.3.
	  This feature requires the cowork of AAL user-space algorithm process.

config MTK_DISP_LOGGER
	bool "Default enable display logger function"
	help
	  Display logger would record display-related event
	  for debug purpose.
	  If this value is Y, display driver would
	  initial display loggger during driver probe
	  stage, but can still manual disable this function
	  through debugfs or procfs.

config MTK_DISP_DEBUG
	bool "Support display debug function, default disable in user load"
	help
	  Used to debug for display module, only needed by developers.
	  The function sould be disabled in user load for security.

config MTK_FB_MMDVFS_SUPPORT
       bool "No HRT hardware is required to support MMDVFS"
       help
         If HRT hardware is not in the platform, then support for
         MMDVFS needs to be added through software.

config MTK_LCM_DUAL_PORT_SUPPORT
	bool "support lcm dual dsi port"
	help
	  This config decide if device support lcm dual dsi port
	  If dsi support dual port, dual dsc may also should support
	  If this value is Y, display maybe single pipe
	  If dsi support dual port, each dsi could calculate lower mmclk, and
	  support more types lcm

config MTK_MT6382_BDG
	tristate "Support Bridge IC 6382"
	help
	  This config decide if device with BridgeIC 6382
	  BridgeIC 6382 can support VESA-1.2 DSC, compressing display framedata
	  Normal project will disable it first
	  If you are not sure about this, do not set it to y

config MTK_ROUND_CORNER_SUPPORT
	bool "enable medietak display round corner"
	default n
	help
	  define CONFIG_MTK_ROUND_CORNER_SUPPORT to enable Mediatek Round Corner on display.
	  If you want to use Meditek Round Corner on display, please make sure it is Y in xxx_defconfig.mk.
	  This feature require round corner pattern provided in lcm driver folder.
	  If unsure, set N.

config MTK_SE_SUPPORT
	bool "Support auto RVC and AVM"
	help
	  This option enables support for the SurfaceEngine functionality within
	  the driver. The SurfaceEngine is responsible for handling specific
	  rendering tasks such as Rear View Camera (RVC) and Around View Monitoring
	  (AVM) features. Enabling this option will include the necessary APIs and
	  driver support required for these features to function correctly.
	  If your project requires RVC or AVM capabilities, or if you need to take
	  advantage of the SurfaceEngine's hardware acceleration for rendering,
	  you should enable this option. Otherwise, it can be left disabled to
	  reduce the driver's footprint.

config OPLUS_FEATURE_DISPLAY_MAINLINE
	bool "Support oplus display mainline feature"
	help
	  Define CONFIG_OPLUS_FEATURE_DISPLAY_MAINLINE to support oplus display mainline feature.
	  If you want to use oplus display mainline feature, you should set CONFIG_OPLUS_FEATURE_DISPLAY_MAINLINE
	  to y or m in the platform config file like oplusxxxx.config.

config MTK_DISP_MMDVFS_INIT_SEQUENCE
	bool "Configure initialization sequence of DISP and MMDVFS"
	help
	  Say yes here to add support for adjusting the initialization sequence
	  between DISP and MMDVFS . This can be used to resolve issues with screen
	  flickering that arise due to the order in which these components are
	  started during the boot process.

config MTK_RECU_FENCE_LOCK
	bool "enable fence deadlock workarond for img_gpu"
	help
	  For IMG GPU, it will attach to display fence
	  by callback, and it maybe occur deadlock when fence ref is
	  reduced to zero in fence signal flow because of linux fence
	  limitation. So the option will control whether display run
	  workaround flow.

config MTK_LCM_PHYSICAL_ROTATION_HW
	bool "support LCM phsical rotation"
	help
	  For rotating in the right direction, this option should
	  be set firstly, because the code added in mtk_disp_ovl.c
	  will use this configuration to change the variable called
	  rotate to "1".

config ENABLE_SEND_PPS_PER_FRAME
	bool "send pps per frame"
	help
	  Say Y here if you want to enable send pps per frame support.
	  For  some bridge need send pps per frame when enable dsc.
	  Only for mt8678 dsi vdo mode.
	  Only for demo.

source "$(KCONFIG_EXT_PREFIX)drivers/gpu/drm/mediatek/mediatek_v2/mtk_drm_edp/Kconfig"
