# SPDX-License-Identifier: GPL-2.0-only
menu "Clock Source drivers"
	depends on GENERIC_CLOCKEVENTS

config DEVICE_MODULES_MTK_TIMER
	tristate "Mediatek timer driver"
	depends on HAS_IOMEM
	select TIMER_OF
	select CLKSRC_MMIO
	help
	  Support for Mediatek timer driver.

endmenu

config MEDIATEK_ERRATUM_690001
	bool "Workaround for MediaTek MT69XX erratum 690001"
	depends on ARM_ARCH_TIMER && ARM64
	help
	  This option enables a workaround for incomplete implementation
	  in the MMIO timer on the MediaTek MT69XX SoCs. The workaround
	  will only be active if mediatek,erratum-690001 property is
	  found in the timer node.
