config DRM_MEDIATEK_EDPTX_AUTO_SUPPORT
	tristate "DRM EDP Support for Mediatek SoCs"
	depends on DEVICE_MODULES_DRM_MEDIATEK
	select PHY_MTK_EDP
	help
	  DRM/KMS EDPTX driver for Mediatek SoCs
	  Choose this option if you want to enable
	  eDPTX driver, and this config depends on
	  DRM_MEDIATEK.

