&i2c13 {
        status = "ok";
        /delete-node/ magnachip@0D;
        /delete-node/ magnachip@0C;
        /delete-node/ ist8801@19;
        /delete-node/ ist8801@18;

        magnachip@10 {
                compatible = "oplus,dhall-ak09970";
                reg = <0x10>;
                vio-supply = <&mt6363_vio18>;
                vio_volt = <1800000>;
                magnachip,init-interval = <200>;
                interrups = <6 0x02>;
                threeaxis_hall_support;
                new_posupdate_support;
                exception_upload_support;
                health_monitor_support;
                dhall,irq-gpio = <&pio 6 0x2008>;
                pinctrl-names = "hall_interrupt_input";
                pinctrl-0 = <&hall_interrupt_input>;

                interf_stable_limit = <700 700 700>;
                interf_judege_limit = <4000 2000>;
                interf_up_tolen = <3700 3700 3000 3000>;
                interf_mid_tolen = <3000 3000 3000 3000>;
                interf_down_tolen = <3000 3000 3700 3700>;
                position_judge_tolen = <4000 5000>;
                default_position_xtolen = <3000 3000>;
        };

        magnachip@11 {
                compatible = "oplus,magcvr_mxm1120";
                reg = <0x0C>;
                vdd_1v8-supply = <&mt6363_vio18>;
                vcc_3v0-supply = <&mt6373_vtp>;
                vdd_3v0_volt = <3100000>;
                interrups = <27 0x02>;
                mag_irq_gpio = <&pio 27 0x2002>;
                pinctrl-names = "default";
                pinctrl-0 = <&magcvr_interrupt_input>;
                // para config
                magcvr_detect_step = <50>;
                magcvr_farmax_th = <50>;
                magcvr_far_threshold = <150>;
                magcvr_far_noise_threshold = <125>;
        };
};

&pio {
    //#ifdef OPLUS_FEATURE_TRI_KEY
        hall_interrupt_input: interrupt_input {
                pins_cmd_dat {
                        pinmux = <PINMUX_GPIO6__FUNC_GPIO6>;
                        bias-pull-up;
                        input-enable;
                        drive-strength = <2>;
                };
        };
        magcvr_interrupt_input: mag_cvr_interrupt_input {
                pins_cmd_dat {
                        pinmux = <PINMUX_GPIO27__FUNC_GPIO27>;
                        bias-pull-up;
                        input-enable;
                        drive-strength = <2>;
                };
        };
};

&spi6 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	goodix@0{
		status = "disabled";
	};

	touchscreen@0{
		compatible = "oplus,tp_noflash";
		reg = <0x0>;
		chip-num = <2>;
		chip-name = "S3910", "FT3683G";
		status = "okay";
		spi-max-frequency = <15000000>;
		/* Interrupt && Irq-gpio */
		interrupt-parent = <&pio>;
		interrupts = <7 0x2008>;

		/* Power Config */
		/* enable2v8_gpio  = <&pio 164 0x1>; */
		/* synaptics,avdd-gpio = <&pio 186 0x1>; */
		avdd-supply = <&mt6373_vtp>;
		synaptics,avdd-name = "avdd";
		vdd-supply  = <&mt6373_vant18>;
		synaptics,vdd-name = "vdd";

		/* Other HW Resource */

		synaptics,irq-gpio = <&pio 7 0x2008>;
		synaptics,reset-gpio = <&pio 3 0x1>;
		//cs-gpio = <&pio 110 0x00>;


		irq-gpio = <&pio 7 0x2008>;
		pinctrl-names = "default", "ts_spi_active", "ts_spi_suspend";
		pinctrl-0 = <&ctp_oplus_pins_default>;
		pinctrl-1 = <&ctp_oplus_int_active &ctp_oplus_reset_active &ctp_oplus_spi_active>;
		pinctrl-2 = <&ctp_oplus_int_suspend &ctp_oplus_reset_suspend &ctp_oplus_spi_suspend>;

		touchpanel,max-num-support = <10>;
		touchpanel,tx-rx-num = <17 38>;
		touchpanel,panel-coords = <20096 44160>;
		touchpanel,display-coords = <1256 2760>;
		vid_len = <2>;
		firmware_name = "0xAC17800", "0xAC17801", "0xAC17801";
		panel_type = < 7 7>; /* TM*/
		platform_support_project = <23101 23102 23205>;
		platform_support_project_dir = <23101 23101 23101>;
		platform_support_project_commandline = "panel_ac178_p_b_a0014_dsi_cmd", "panel_ac178_p_7_a0014_dsi_cmd";

		synaptics,power-on-state = <1>;
		synaptics,power-delay-ms = <200>;
		synaptics,irq-on-state = <0>;
		synaptics,reset-on-state = <0>;
		synaptics,reset-active-ms = <10>;
		synaptics,reset-delay-ms = <80>;
		synaptics,spi-mode = <0>;
		synaptics,spi-byte-delay-us = <0>;
		synaptics,spi-block-delay-us = <0>;

		/* LBP Power Config */
		vdd_2v8-supply = <&mt6373_vtp>;
		vdd_2v8_volt = <3000000>;
		vcc_1v8-supply = <&mt6373_vant18>;
		vcc_1v8_volt = <1800000>;


		//touchpanel,elimination-range = <20 200 200>;
		//touchpanel,int-mode = <1>; /*0: interrupt and disable, 1:interrupt and not disable*/


		prevention,curved_screen_V2;
		prevention,grip_disable_level = <6>;
		prevention,updelay_time_ms = <30>;
		prevention,makeup_cnt_weight = <4 1 2 2 2>;
		prevention,large_corner_range = <1920 4800>;
		prevention,large_corner_judge_condition = <500 300 1600 6 6>;
		prevention,trx_reject_condition = <8 7 7>;
		prevention,trx_strict_reject_condition = <7 6 6>;
		prevention,large_judge_time_ms = <500 50 30>;
		prevention,large_exit_condition = <15 12 2>;
		prevention,single_channel_width = <256 256>;
		prevention,normal_tap_condition = <10 300>;
		prevention,long_edge_condition = <230 100 180 80>;
		prevention,long_strict_edge_condition = <170 80>;
		prevention,long_fingerhold_condition = <50 6 4 4>;
		prevention,short_edge_condition = <230 100 180 80>;
		prevention,short_strict_edge_condition = <160 60>;
		prevention,large_strict_exit_condition = <5 5>;
		prevention,top_corner_config = <800 2400 720>;
		prevention,edge_swipe_config = <480 1600>;

		prevention,curved_screen_V4;
		prevention,long_eliminate_point_type = <2 17280 13280 420 38592 300 1>;
		prevention,long_fingerhold_condition2 = <1120 3200 0 0>;
		prevention,top_corner_config2 =<3 80 420 2400 0>;
		prevention,hor_long_top_corner_config =<480 3200 0 0>;
		prevention,top_middle_config =<17280 1600 1600 0>;
		prevention,corner_eliminate_point_type =<0 1920 3200 1>;
		prevention,finger_hold_differ_size = <1 0 720 300>;
		prevention,finger_hold_max_rx_exit_distance = <5 700 3400>;
		prevention,max_rx_exit_distance = <1 5 18 700 2800>;
		prevention,dynamic_finger_hold_exit_distance = <1 580 3400 780>;
		prevention,edge_sliding_matched_support = <1 250 3 0>;

		//grip v4.2 reclining mode
		prevention,reclining_mode_support = <1>;
		prevention,long_eliminate_point_type_recli = <2 17280 13280 420 38592 200 1>;
		prevention,finger_hold_differ_size_recli = <1 0 720 300>;
		prevention,finger_hold_max_rx_exit_distance_recli = <5 700 3400>;
		prevention,max_rx_exit_distance_recli = <1 5 90 700 2800>;
		prevention,dynamic_finger_hold_exit_distance_recli = <1 580 3400 780>;
		prevention,edge_sliding_matched_support_recli = <1 200 3 0>;
		prevention,long_edge_condition_recli = <120 100 150 100>;

		/* SW Support Feature Control */
		//esd_handle_support;
		//register-is-16bit;
		//wireless_charger_support;
		headset_pump_support;
		//fw_edge_limit_support;

		health_monitor_v2_support;
		black_gesture_support;
		charger_pump_support;
		lcd_tp_refresh_support;
		fw_update_app_support;
		smart_gesture_support;
		game_switch_support;
		report_flow_unlock_support;
		kernel_grip_support;
		fingerprint_underscreen_support;
		pressure_report_support;
		touchpanel,single-optimized-time = <8>;
		//report_rate_white_list_support;
		auto_test_force_pass_support;
		snr_read_support;
		//high_resolution_support;
		screenoff_fingerprint_info_support;
		irq_need_dev_resume_ok;
		sportify_aod_gesture_support;
		black_gesture_indep_support;
		thermal_detect_support;
		exception_upload_support;
		tp_data_record_support;
		palm_to_sleep_support;
		stats_upload_support;

		is_mtk_platform = "mt6991";

		/*
		 *Virtual Key Config:
		 *1:touchpanel,button-type: <virtualkey_type  supportted_button-map>
		 *virtualkey_type:
		 *Type 1: using board_properties
		 *Type 2: using same IC (button zone&& touch zone are seprate)
		 *Type 3: using diffrent IC (button zone&& touch zone are seprate)
		 *Type 4: No need of virtual key process
		 *supportted_button-map:select|menu|home|back
		 *
		 *2:touchpanel,button-map
		 *type (X1,Y1)(X2,Y2)(X3,Y3)(Width_X,Hight_Y)--Only when button-type is 0
		 */
		touchpanel,button-type = <4>;
		touchpanel.button-TRx = <0 0>;

		FT3681 {
			switch_report_rate;
			report_rate_default = <60>;
			report_rate_game_value = <0x02>;
		};

		FT3683G_PANEL7 {
			interrupts = <7 0x2002>;
			irq-gpio = <&pio 7 0x2002>;
			reset-gpio = <&pio 3 0x1>;

			touchpanel,max-num-support = <10>;
			touchpanel,tx-rx-num = <17 38>;
			touchpanel,panel-coords = <20096 44160>;
			touchpanel,display-coords = <1256 2760>;
			touchpanel,touchmajor-limit = <128 216>;
			//touchpanel,elimination-range = <20 200 200>;
			//touchpanel,int-mode = <1>; /*0: interrupt and disable, 1:interrupt and not disable*/
			touchpanel,smooth-level = <0 110 115 120 140 155>;
			touchpanel,smooth-level-charging = <0 110 115 120 140 155>;
			touchpanel,sensitive-level = <0 19 16 12 11 10>;
			touchpanel,tp-index = <0>;
			touchpanel,high-frame-rate-time = <60>;

			prevention,curved_screen_V2;
			prevention,grip_disable_level = <6>;
			prevention,updelay_time_ms = <30>;
			prevention,makeup_cnt_weight = <4 1 2 2 2>;
			prevention,large_corner_range = <1920 4800>;
			prevention,large_corner_judge_condition = <500 300 1600 6 6>;
			prevention,trx_reject_condition = <8 7 7>;
			prevention,trx_strict_reject_condition = <7 6 6>;
			prevention,large_judge_time_ms = <500 50 30>;
			prevention,large_exit_condition = <15 12 2>;
			prevention,single_channel_width = <256 256>;
			prevention,normal_tap_condition = <10 300>;
			prevention,long_edge_condition = <230 100 180 80>;
			prevention,long_strict_edge_condition = <170 80>;
			prevention,long_fingerhold_condition = <50 6 4 4>;
			prevention,short_edge_condition = <230 100 180 80>;
			prevention,short_strict_edge_condition = <160 60>;
			prevention,large_strict_exit_condition = <5 5>;
			prevention,top_corner_config = <800 2400 720>;
			prevention,edge_swipe_config = <480 1600>;

			prevention,curved_screen_V4;
			prevention,long_eliminate_point_type = <2 17280 13280 420 38592 300 1>;
			prevention,long_fingerhold_condition2 = <1120 3200 0 0>;
			prevention,top_corner_config2 =<3 80 420 2400 0>;
			prevention,hor_long_top_corner_config =<480 3200 0 0>;
			prevention,top_middle_config =<17280 1600 1600 0>;
			prevention,corner_eliminate_point_type =<0 1920 3200 1>;
			prevention,finger_hold_differ_size = <1 0 720 300>;
			prevention,finger_hold_max_rx_exit_distance = <5 700 3400>;
			prevention,max_rx_exit_distance = <1 5 18 700 2800>;
			prevention,dynamic_finger_hold_exit_distance = <1 580 3400 780>;
			prevention,edge_sliding_matched_support = <1 250 3 0>;

			//grip v4.2 reclining mode
			prevention,reclining_mode_support = <1>;
			prevention,long_eliminate_point_type_recli = <2 17280 13280 420 38592 200 1>;
			prevention,finger_hold_differ_size_recli = <1 0 720 300>;
			prevention,finger_hold_max_rx_exit_distance_recli = <5 700 3400>;
			prevention,max_rx_exit_distance_recli = <1 5 90 700 2800>;
			prevention,dynamic_finger_hold_exit_distance_recli = <1 580 3400 780>;
			prevention,edge_sliding_matched_support_recli = <1 200 3 0>;
			prevention,long_edge_condition_recli = <120 100 150 100>;

			tp_data_record_support;
		};
	};
};

/*add for  TP*/
&pio {
	ctp_oplus_pins_default: pins_default {
	};
	ctp_oplus_int_active: int1_active {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO7__FUNC_GPIO7>;
			bias-disable;
			input-enable;
		};
	};
	ctp_oplus_reset_active: reset1_active {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO3__FUNC_GPIO3>;
			output-high;
		};
	};
	ctp_oplus_int_suspend: int1_suspend {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO7__FUNC_GPIO7>;
			output-low;
		};
	};
	ctp_oplus_reset_suspend: reset1_suspend {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO3__FUNC_GPIO3>;
			output-low;
		};
	};
	ctp_oplus_spi_active: spi_active {
		pins_cmd_dat {
			pinmux = <PINMUX_GPIO82__FUNC_SPI6_B_CSB>,
				<PINMUX_GPIO83__FUNC_SPI6_B_MO>,
				<PINMUX_GPIO81__FUNC_SPI6_B_CLK>,
				<PINMUX_GPIO84__FUNC_SPI6_B_MI>;
			bias-disable;
			drive-strength = <2>;
		};
	};
	ctp_oplus_spi_suspend: spi_suspend {
		pins_cmd_dat {
			pinmux = < PINMUX_GPIO84__FUNC_GPIO84>,
				< PINMUX_GPIO83__FUNC_GPIO83>,
				<PINMUX_GPIO82__FUNC_GPIO82>,
				<PINMUX_GPIO81__FUNC_GPIO81>;
			bias-disable;
			output-low;
			drive-strength = <4>;
		};
	};
};
