config MTK_CM_IPI
	tristate "MTK CM use IPI"
	help
	  This kernel config can be used to enable CM IPI. When enable
	  this option, we will use ipi on system buffer to improve
	  performance and power.
	  If unsure, say N.

config MTK_CM_MGR_LEGACY_V1
	tristate "MTK CM_MGR for LEGACY V1"
	help
	  This kernel config can be used to enable CM_MGR. When enable
	  this option, dram opp level will be changed which will depended
	  on power table.
	  If unsure, say N.

config MTK_CM_MGR_MT6768
	tristate "MTK CM_MGR for MT6768"
	help
	  This kernel config can be used to enable CM_MGR MT6768. When enable
	  this option, dram opp level will be changed which will depended
	  on power table.
	  If unsure, say N.

config MTK_CM_MGR_MT6877
	tristate "MTK CM_MGR for MT6877"
	help
	  This kernel config can be used to enable CM_MGR MT6877. When enable
	  this option, dram opp level will be changed which will depended
	  on power table.
	  If unsure, say N.

config MTK_CM_MGR_MT6893
	tristate "MTK CM_MGR for MT6893"
	help
	  This kernel config can be used to enable CM_MGR MT6893. When enable
	  this option, dram opp level will be changed which will depended
	  on power table.
	  If unsure, say N.

config MTK_CM_MGR_MT6853
	tristate "MTK CM_MGR for MT6853"
	help
	  This kernel config can be used to enable CM_MGR MT6853. When enable
	  this option, dram opp level will be changed which will depended
	  on power table.
	  If unsure, say N.

config MTK_CM_MGR_MT6781
	tristate "MTK CM_MGR for MT6781"
	help
	  This kernel config can be used to enable CM_MGR MT6781. When enable
	  this option, dram opp level will be changed which will depended
	  on power table.
	  If unsure, say N.

config MTK_CM_MGR_MT6833
	tristate "MTK CM_MGR for MT6833"
	help
	  This kernel config can be used to enable CM_MGR MT6833. When enable
	  this option, dram opp level will be changed which will depended
	  on power table.
	  If unsure, say N.

