# SPDX-License-Identifier: GPL-2.0-only
config DRM_SERDES_DP
	tristate "DRM Serdes DP Support for Platform SoCs"
	depends on OF
	select SERDES_DP
	help
	  Enable support for the Serdes-based DisplayPort (DP) interface
	  on Mediatek SoCs. This driver provides the necessary functionality
	  to initialize and manage the Serdes hardware that handles the
	  high-speed data lanes used for DisplayPort connections on these
	  platforms. Enabling this option will allow the DRM subsystem to
	  communicate with DisplayPort devices via the Serdes interface.
