CONFIG_MTK_AUTO_SUPPORT=m
CONFIG_DEBUG_INFO_BTF=n
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DRM_MEDIATEK_AUTO=y
CONFIG_DRM_MEDIATEK_AUTO_YCT=y
CONFIG_DRM_MEDIATEK_DPTX_AUTO=y
CONFIG_VT=y
CONFIG_VT_CONSOLE=y
CONFIG_VT_CONSOLE_SLEEP=y
CONFIG_SYSVIPC=y
CONFIG_COMMON_CLK_MT6991_IVI=m
CONFIG_DEVICE_MODULES_MTK_SCPSYS_IVI=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="max96712_mipi_yuv max96712isx_mipi_yuv max96712a_mipi_yuv max96712a0_mipi_yuv max96712a1_mipi_yuv max96712a2_mipi_yuv max96712a3_mipi_yuv ox08b40_mipi_raw"
CONFIG_DRM_PANEL_SERDES_DP=m
CONFIG_DRM_SERDES_DP=m
CONFIG_DRM_MEDIATEK_EDPTX_AUTO_SUPPORT=m
CONFIG_MTK_GPU_VERSION="mali avalon r49p1 mt6991"
CONFIG_MTK_AEE_YOCTO=y
CONFIG_MTK_AEE_HANGDET_IMPROVE_PERFORMANCE=y
CONFIG_MTK_HANG_YOCTO=y
CONFIG_JPEG_V4L2_DECODE=y
CONFIG_STATIC_USERMODEHELPER_PATH="/usr/bin/aee_core_forwarder"
# CONFIG_ANDROID_BINDERFS is not set
CONFIG_SND_SOC_MTK_AUTO_AUDIO=m
CONFIG_KALLSYMS_ALL=y
# CONFIG_MTK_VOW_SUPPORT is not set
# CONFIG_MTK_ULTRASND_PROXIMITY is not set
# CONFIG_SND_SOC_MTK_OFFLOAD is not set
CONFIG_MTK_LOG_STORE_ALWAYS_CLEAR_EMMC_FLAG=y
# CONFIG_MTK_LOG_STORE_BOOTPROF is not set
CONFIG_SND_SOC_AK7709=m
CONFIG_SND_SOC_HFDA80X=m
CONFIG_DEVICE_MODULES_VHOST_ADSP=m
CONFIG_MTK_SE_SUPPORT=y
# CONFIG_MTK_FPSGO_V3 is not set
CONFIG_NET=y
CONFIG_SECURITY=y
CONFIG_SECURITY_APPARMOR=y
CONFIG_DEFAULT_SECURITY_APPARMOR=y
CONFIG_LSM="landlock,lockdown,yama,loadpin,safesetid,bpf,apparmor"
CONFIG_MTK_ADSP_AUTO_HFP_CLIENT_SUPPORT=m
CONFIG_MTK_ADSP_AUTO_ANC_SUPPORT=m
CONFIG_MTK_ADSP_AUTO_EXTSTREAM_SUPPORT=m
CONFIG_MTK_ADSP_AUTO_MULTI_PLAYBACK_SUPPORT=m
CONFIG_SND_SOC_MTK_AUTO_AUDIO_DSP=m
CONFIG_MTK_SENTRY_MODE=y
CONFIG_MTK_FAN_THERMAL=m
CONFIG_MTK_MBRAINK_MT8678=m
CONFIG_MTK_MET_MEM_ALLOC=y
CONFIG_ARCH_HAS_PMEM_API=y
CONFIG_ARM64_PMEM=y

