CONFIG_MTK_AUTO_SUPPORT=m
CONFIG_COMMON_CLK_MT6991_IVI=m
CONFIG_DEVICE_MODULES_MTK_SCPSYS_IVI=m
CONFIG_DRM_MEDIATEK_AUTO=y
CONFIG_DRM_MEDIATEK_DPTX_AUTO=y
CONFIG_CUSTOM_KERNEL_IMGSENSOR="max96712_mipi_yuv max96712isx_mipi_yuv"
CONFIG_DRM_PANEL_SERDES_DP=m
CONFIG_DRM_SERDES_DP=m
CONFIG_DRM_MEDIATEK_EDPTX_AUTO_SUPPORT=m
CONFIG_MTK_FAN_THERMAL=m
CONFIG_MTK_SPM_CAREVENT=m
CONFIG_SND_SOC_MTK_AUTO_AUDIO=m
# CONFIG_MTK_VOW_SUPPORT is not set
# CONFIG_MTK_ULTRASND_PROXIMITY is not set
# CONFIG_SND_SOC_MTK_OFFLOAD is not set
CONFIG_MTK_ADSP_AUTO_HFP_CLIENT_SUPPORT=m
CONFIG_MTK_ADSP_AUTO_ANC_SUPPORT=m
CONFIG_MTK_ADSP_AUTO_EXTSTREAM_SUPPORT=m
CONFIG_MTK_ADSP_AUTO_MULTI_PLAYBACK_SUPPORT=m
CONFIG_SND_SOC_MTK_AUTO_AUDIO_DSP=m
CONFIG_SND_SOC_AK7709=m
CONFIG_SND_SOC_HFDA80X=m
CONFIG_MTK_APUSYS_IVI=y
CONFIG_MTK_OPTEE_SUPPORT=m
CONFIG_OPTEE_REE_CONSOLE=y
# CONFIG_DRM_MTK_R2Y is not set
