CONFIG_DEBUG_PREEMPT=y
CONFIG_MTK_DUMP_CLK_REFCNT_BY_DEVICE=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_LOCKDEP=y
CONFIG_LOCKDEP_BITS=16
CONFIG_LOCKDEP_CHAINS_BITS=18
CONFIG_MTK_MDP_DEBUG=y
CONFIG_MTK_AEE_UT=y
CONFIG_MTK_IRQ_MONITOR=y
CONFIG_MTK_IRQ_MONITOR_DEFAULT_ENABLED=y
CONFIG_MTK_LOCKING_AEE=y
CONFIG_MTK_SELINUX_AEE_WARNING=y
CONFIG_PROVE_LOCKING=y
CONFIG_STATIC_USERMODEHELPER_PATH="/system_ext/bin/aee_core_forwarder"
CONFIG_MEDIATEK_CPUFREQ_DEBUG=y
CONFIG_MTK_AVOID_TRUNCATE_COREDUMP=y
CONFIG_MTK_TINYSYS_VCP_DEBUG_SUPPORT=y
CONFIG_MTK_TINYSYS_SCP_DEBUG_SUPPORT=y
CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT=y
CONFIG_MTK_PRINTK_DEBUG=y
CONFIG_DYNAMIC_DEBUG=y
CONFIG_MTK_CCU_DEBUG=y
CONFIG_ANDROID_FIX_PCIE_SLAVE_ERROR=y
CONFIG_MTK_SERROR_HOOK=y
CONFIG_LOG_TOO_MUCH_WARNING=y
CONFIG_MTK_LASTBUS_DEBUG=y
# CONFIG_MTK_PANIC_ON_WARN is not set
CONFIG_MTK_IOMMU_DEBUG=y
CONFIG_MTK_CMDQ_DEBUG=y
CONFIG_MTK_UFS_DEBUG=y
CONFIG_DEBUG_FS=y
CONFIG_MTK_DISP_LOGGER=y
CONFIG_MTK_DISP_DEBUG=y
CONFIG_MTK_AOL_DEBUG=y
CONFIG_MTK_MML_DEBUG=y
CONFIG_MTK_CLKMGR_DEBUG=y
CONFIG_MTK_KASAN_DEBUG=y
CONFIG_MTK_MTE_DEBUG=y
CONFIG_MTK_USB_OFFLOAD_DEBUG=y
CONFIG_MTK_MET_DEBUG=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_KMEMLEAK_DEFAULT_OFF=y
CONFIG_DEBUG_KMEMLEAK_EARLY_LOG_SIZE=9600
CONFIG_MTK_GPU_DIAGNOSIS_DEBUG=y
CONFIG_MTK_FIX_MAPLE_TREE=y
CONFIG_CONN_PWR_DEBUG=y
CONFIG_VIDEO_MTK_ISP_CAMSYS_DUBUG=y
CONFIG_MTK_RTNL_LOCK_DEBUG=y
CONFIG_MTK_IPV6MAPV4_DEBUG=y
CONFIG_TRUSTY_BUG_ON_WARN=y
CONFIG_MTK_CPU_DVFS_ENG_DEBUG=y
CONFIG_MTK_PTPOD_ENG_DEBUG=y
