# CONFIG_MTK_PERF_IOCTL_MAGT is not set
CONFIG_PINCTRL_MT6761=m
CONFIG_MTK_POWER_GS_LEGACY=m
CONFIG_MTK_CM_MGR_LEGACY_V0=m
CONFIG_MTK_HPS_V3=m
CONFIG_MTK_LEGACY_THERMAL=m
CONFIG_MTK_THERMAL_PA_VIA_ATCMD=y
# CONFIG_MTK_SOC_THERMAL is not set
# CONFIG_MTK_SOC_THERMAL_LVTS is not set
# CONFIG_MTK_PMIC_THERMAL is not set
# CONFIG_MTK_MD_THERMAL is not set
# CONFIG_MTK_CHARGER_THERMAL is not set
# CONFIG_MTK_BACKLIGHT_THERMAL is not set
# CONFIG_MTK_THERMAL_TRACE is not set
# CONFIG_MTK_THERMAL_IPI is not set
# CONFIG_MTK_THERMAL_INTERFACE is not set
# CONFIG_MTK_THERMAL_JATM is not set
# CONFIG_MTK_BOARD_THERMAL is not set
# CONFIG_MTK_VTSKIN_THERMAL is not set
# CONFIG_MTK_WIFI_THERMAL is not set
# CONFIG_DEVICE_MODULES_MTK_THERMAL is not set
CONFIG_COMMON_CLK_MT6761=m
CONFIG_COMMON_CLK_MT6761_AUDIOSYS=m
CONFIG_COMMON_CLK_MT6761_CAMSYS=m
CONFIG_COMMON_CLK_MT6761_MMSYS=m
CONFIG_COMMON_CLK_MT6761_VCODECSYS=m
CONFIG_COMMON_CLK_MT6761_MIPI0ASYS=m
CONFIG_COMMON_CLK_PG_LEGACY=y
CONFIG_MTK_DCM_MT6761=m
CONFIG_DEVICE_MODULES_REGULATOR_MT6357=m
# CONFIG_DEVICE_MODULES_SPMI_MTK_PMIF is not set
CONFIG_SND_SOC_MT6357_ACCDET=m
CONFIG_MTK_GPU_LEGACY=y
CONFIG_MTK_GPU_MT6761_SUPPORT=m
CONFIG_MTK_COMBO_CHIP_CONSYS_6761=y
CONFIG_MTK_CONN_MD=m
CONFIG_MTK_CONN_LTE_IDC_SUPPORT=y
# CONFIG_MTK_MDPM is not set
CONFIG_MTK_MDPM_LEGACY=m
# CONFIG_COMMON_CLK_MTK_FREQ_HOPPING_GPUEB is not set
CONFIG_COMMON_CLK_MTK_FREQ_HOPPING_SSPM=y
# CONFIG_MTK_SLBC is not set
# CONFIG_MTK_SLBC_IPI is not set
# CONFIG_MTK_SLBC_TRACE is not set
# CONFIG_MTK_SLBC_MMSRAM is not set
CONFIG_MTK_EMI_LEGACY=m
CONFIG_MTK_EMI_LEGACY_VERSION=1
CONFIG_MTK_EMI_BWL_VERSION=1
CONFIG_MTK_STATIC_POWER_LEGACY=m
CONFIG_MTK_PLAT_POWER_MT6761=m
CONFIG_MTK_DVFSRC_MET_MT6761=m
CONFIG_MTK_DVFSRC_LEGACY=y
CONFIG_MTK_IRQ_DBG_LEGACY=y
CONFIG_MTK_VIDEOCODEC_DRIVER=m
CONFIG_MTK_VIDEOCODEC_IPM_V1=y
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
# CONFIG_MTK_IOMMU_MISC_SECURE is not set
# CONFIG_MTK_MMINFRA is not set
CONFIG_MTK_SMI_BWC=m
CONFIG_INTERCONNECT_MTK_MMQOS_MT6761=m
CONFIG_MTK_SMI_BWC_MT6761=m
# CONFIG_MTK_MMQOS_VCP is not set
CONFIG_MT6357_DO_CTD=y
CONFIG_CHARGER_TYPE_MT6357=m
CONFIG_CHARGER_RT9465=m
# CONFIG_MTK_VDEC_FMT is not set
# CONFIG_VIDEO_MEDIATEK_VCODEC_V2 is not set
# CONFIG_VIDEO_MEDIATEK_VCODEC_V1 is not set
# CONFIG_VIDEO_MEDIATEK_VCU is not set
# CONFIG_MTK_TINYSYS_VCP_SUPPORT is not set
# CONFIG_DEVICE_MODULES_VIDEO_MEDIATEK_VCODEC is not set
# CONFIG_MTK_MML is not set
CONFIG_MTK_MML_LEGACY=m
CONFIG_MTK_CAMERA_ISP_RAW_SUPPORT_ISP3_M=m
CONFIG_MTK_CAMERA_FD_VERSION35=m
CONFIG_MTK_PPM_V3=m
# CONFIG_MTK_QOS_MT6893 is not set
CONFIG_MTK_QOS_LEGACY=y
CONFIG_MTK_UNIFIED_POWER=m
CONFIG_MEDIATEK_CPU_DVFS=m
CONFIG_MEDIATEK_CPU_DVFS_MT6761=m
CONFIG_MTK_PTPOD_LEGACY=m
CONFIG_MEDIATEK_CPUFREQ_DEBUG_SUPPORT_LEGACY=y
CONFIG_MEDIATEK_MCDI=m
CONFIG_MEDIATEK_CPUIDLE=m
CONFIG_MTK_SPM_V0=m
# CONFIG_MTK_LPM_MT6989 is not set
# CONFIG_MTK_LOW_POWER_MODULE is not set
# CONFIG_MTK_MBRAINK is not set
# CONFIG_MTK_ISE_LPM_SUPPORT is not set
# CONFIG_TRUSTY is not set
# CONFIG_MTK_SENSORHUB is not set
# CONFIG_MTK_APUSYS_SUPPORT is not set
CONFIG_MTK_FB_MMDVFS_SUPPORT=y
# CONFIG_MTK_TINYSYS_SSPM_V3 is not set
CONFIG_MTK_TINYSYS_SSPM_V1=y
CONFIG_MTK_TINYSYS_SSPM_LEGACY=y
# CONFIG_MTK_TINYSYS_SCMI is not set
# CONFIG_MTK_SWPM_MODULE is not set
# CONFIG_MTK_PMSR is not set
# CONFIG_MTK_CM_MGR is not set
# CONFIG_MTK_CM_IPI is not set
# CONFIG_MTK_SSC_MODULE is not set
# CONFIG_MTK_TINYSYS_MCUPM_SUPPORT is not set
CONFIG_SND_SOC_RT5509=m
CONFIG_SND_SOC_MTK_BTCVSD=m
CONFIG_MTK_SND_SOC_NEW_ARCH=y
CONFIG_MTK_SND_SOC_NEW_ARCH_COMMON=m
CONFIG_SND_SOC_CODEC_MT6357=m

# CONFIG_SND_SOC_MTK_AUDIO_DSP is not set
# CONFIG_MTK_AUDIODSP_SUPPORT is not set
# CONFIG_MTK_USB_OFFLOAD is not set
# CONFIG_MTK_VOW_SUPPORT is not set
# CONFIG_SND_SOC_MT6885 is not set
# CONFIG_SND_SOC_MT6885_MT6359P is not set
# CONFIG_SND_SOC_MT6879 is not set
# CONFIG_SND_SOC_MT6879_MT6368 is not set
# CONFIG_SND_SOC_MT6886 is not set
# CONFIG_SND_SOC_MT6886_MT6368 is not set
# CONFIG_SND_SOC_MT6895 is not set
# CONFIG_SND_SOC_MT6895_MT6368 is not set
# CONFIG_SND_SOC_MT6983 is not set
# CONFIG_SND_SOC_MT6983_MT6338 is not set
# CONFIG_SND_SOC_MT6985 is not set
# CONFIG_SND_SOC_MT6985_MT6338 is not set
# CONFIG_SND_SOC_MT6897 is not set
# CONFIG_SND_SOC_MT6897_MT6368 is not set
# CONFIG_DEVICE_MODULES_SND_SOC_MT6899 is not set
# CONFIG_DEVICE_MODULES_SND_SOC_MT6899_MT6368 is not set
# CONFIG_SND_SOC_MT6768 is not set
# CONFIG_SND_SOC_MT6768_MT6358 is not set
# CONFIG_MTK_FLASHLIGHT_PPB is not set
# CONFIG_MTK_FLASHLIGHT_THERMAL is not set
# CONFIG_MTK_ULTRASND_PROXIMITY is not set
# CONFIG_VIDEO_MTK_ISP_AOV is not set
CONFIG_CUSTOM_KERNEL_IMGSENSOR="imx499_mipi_raw s5k2t7sp_mipi_raw s5k3l8_mipi_raw s5k5e8yx_mipi_raw ov8856_mipi_raw imx318_mipi_raw imx386_mipi_raw"
# CONFIG_MTK_IMGSENSOR is not set
CONFIG_MTK_IMGSENSOR_ISP3_M=m
# CONFIG_MTK_CAM_CAL is not set
CONFIG_MTK_CAM_CAL_ISP3_M=m
CONFIG_MTK_TINYSYS_SCP_CM4_SUPPORT=y
# CONFIG_SND_SOC_MT6338_ACCDET is not set
# CONFIG_SND_SOC_MT6681_ACCDET is not set
CONFIG_MTK_MME_SUPPORT=y
# CONFIG_MTK_PKVM_TMEM is not set
# CONFIG_MTK_OPP_MIN is not set
# CONFIG_MTK_GEARLESS_SUPPORT is not set
# CONFIG_MTK_SCHED_FAST_LOAD_TRACKING is not set
# CONFIG_MTK_THERMAL_AWARE_SCHEDULING is not set
# CONFIG_MTK_LEAKAGE_AWARE_TEMP is not set
# CONFIG_MTK_LEAKAGE_HIT is not set
# CONFIG_MTK_CPUQOS_EXT is not set
# CONFIG_MTK_WIDEVINE_DRM is not set
CONFIG_DEVICE_MODULES_MMC_MTK_SW_CQHCI=m
CONFIG_DEVICE_MODULES_MMC_MTK_SW_CQHCI_DEBUG=m
# CONFIG_ARM_FFA_TRANSPORT is not set
CONFIG_TRUSTONIC_TEE_VERSION="600"
CONFIG_MICROTRUST_TEE_VERSION="515"
# CONFIG_MTK_C2PS is not set
# CONFIG_ARM_DSU_PMU is not set
# CONFIG_TRUSTONIC_TRUSTED_UI is not set
# CONFIG_MTK_TRUSTED_MEMORY_SUBSYSTEM is not set
# CONFIG_PM_DEBUG is not set
CONFIG_MTK_RECU_FENCE_LOCK=y
CONFIG_MTK_SENSOR_ARCHITECTURE="1.0"
CONFIG_CUSTOM_KERNEL_ACCELEROMETER=y
CONFIG_MTK_ACCELHUB=y
CONFIG_CUSTOM_KERNEL_GYROSCOPE=y
CONFIG_MTK_GYROHUB=y
CONFIG_CUSTOM_KERNEL_ALSPS=y
CONFIG_MTK_ALSPSHUB=y
CONFIG_CUSTOM_KERNEL_MAGNETOMETER=y
CONFIG_MTK_MAGHUB=y
CONFIG_MTK_HWMON=y
CONFIG_CUSTOM_KERNEL_BAROMETER=y
CONFIG_MTK_BAROHUB=y
CONFIG_CUSTOM_KERNEL_STEP_COUNTER=y
CONFIG_MTK_STEPSIGNHUB=y
CONFIG_CUSTOM_KERNEL_SITUATION=y
CONFIG_MTK_STATHUB=y
CONFIG_MTK_WAKEHUB=y
CONFIG_MTK_GLGHUB=y
CONFIG_MTK_PICKUPHUB=y
CONFIG_MTK_DEVICE_ORIENTATION_HUB=y
CONFIG_MTK_MOTION_DETECT_HUB=y
CONFIG_MTK_TILTDETECTHUB=y
CONFIG_CUSTOM_KERNEL_SENSORHUB_1_0=y
CONFIG_NANOHUB=y
CONFIG_NANOHUB_MTK_IPI=y
CONFIG_CUSTOM_KERNEL_SENSOR_FUSION=y
CONFIG_MTK_ROTATVECHUB=y
CONFIG_MTK_GAMEROTVECHUB=y
CONFIG_MTK_GMAGROTVECHUB=y
CONFIG_MTK_GRAVITYHUB=y
CONFIG_MTK_LINEARACCHUB=y
CONFIG_MTK_ORIENTHUB=y
CONFIG_MTK_UNCALI_ACCHUB=y
CONFIG_MTK_UNCALI_GYROHUB=y
CONFIG_MTK_UNCALI_MAGHUB=y
