# CONFIG_MTK_PERF_IOCTL_MAGT is not set
CONFIG_PINCTRL_MT6768=m
CONFIG_MTK_COMBO_CHIP_CONSYS_6768=y
CONFIG_MTK_CONN_MD=m
CONFIG_MTK_CONN_LTE_IDC_SUPPORT=y
CONFIG_MTK_PLAT_POWER_MT6768=m
CONFIG_COMMON_CLK_MT6768=m
# CONFIG_COMMON_CLK_MT6781 is not set
# CONFIG_COMMON_CLK_MT6877 is not set
# CONFIG_COMMON_CLK_MT6897 is not set
# CONFIG_COMMON_CLK_MT6886 is not set
# CONFIG_COMMON_CLK_MT6893 is not set
# CONFIG_COMMON_CLK_MT6983 is not set
# CONFIG_COMMON_CLK_MT6985 is not set
# CONFIG_COMMON_CLK_MT6989 is not set
# CONFIG_COMMON_CLK_MT6899 is not set
# CONFIG_DEVICE_MODULES_COMMON_CLK_MT8192 is not set
# CONFIG_COMMON_CLK_MT8188 is not set
# CONFIG_COMMON_CLK_MT6833 is not set
CONFIG_COMMON_CLK_PG_LEGACY=y
# CONFIG_MTK_MDPM is not set
CONFIG_MTK_MDPM_LEGACY=m
CONFIG_MTK_CPUHOTPLUG=m
CONFIG_MTK_POWER_GS_LEGACY=m
CONFIG_MEDIATEK_MCDI=m
CONFIG_MEDIATEK_CPUIDLE=m
CONFIG_MTK_SPM=m
CONFIG_MTK_LEGACY_THERMAL=m
CONFIG_MTK_THERMAL_PA_VIA_ATCMD=y
# CONFIG_MTK_THERMAL_AWARE_SCHEDULING is not set
# CONFIG_DEVICE_MODULES_MTK_THERMAL is not set
# CONFIG_MTK_SOC_THERMAL_LVTS is not set
# CONFIG_MTK_PMIC_THERMAL is not set
# CONFIG_MTK_MD_THERMAL is not set
# CONFIG_MTK_THERMAL_TRACE is not set
# CONFIG_MTK_THERMAL_INTERFACE is not set
# CONFIG_MTK_THERMAL_JATM is not set
# CONFIG_MTK_VTSKIN_THERMAL is not set
# CONFIG_MTK_CHARGER_THERMAL is not set
# CONFIG_MTK_BACKLIGHT_THERMAL is not set
# CONFIG_MTK_BOARD_THERMAL is not set
# CONFIG_MTK_WIFI_THERMAL is not set
CONFIG_MTK_LEGACY_PLATFORM="mt6768"
# CONFIG_COMMON_CLK_MTK_FREQ_HOPPING_MCUPM is not set
# CONFIG_COMMON_CLK_MTK_FREQ_HOPPING_GPUEB is not set
CONFIG_COMMON_CLK_MTK_FREQ_HOPPING_SSPM=y
CONFIG_MTK_DCM_MT6768=m
# CONFIG_MTK_MBRAINK is not set
# CONFIG_MTK_SWPM_MODULE is not set
# CONFIG_MTK_CM_MGR is not set
# CONFIG_MTK_CM_IPI is not set
CONFIG_MTK_CM_MGR_LEGACY_V1=m
CONFIG_MTK_CM_MGR_MT6768=m
CONFIG_MTK_DVFSRC_MET_MT6768=m
CONFIG_MTK_DVFSRC_LEGACY=y
CONFIG_DEVICE_MODULES_REGULATOR_MT6358=m
# CONFIG_DEVICE_MODULES_SPMI_MTK_PMIF is not set
CONFIG_MTK_GPU_MT6768_SUPPORT=m
CONFIG_MTK_GPU_LEGACY=y
CONFIG_MTK_SMI_BWC=m
CONFIG_MTK_EMI_LEGACY=m
CONFIG_MTK_EMI_LEGACY_VERSION=1
CONFIG_MTK_EMI_BWL_VERSION=2
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
CONFIG_MTK_TINYSYS_SSPM_V1=y
# CONFIG_MTK_TINYSYS_SSPM_V3 is not set
# CONFIG_MTK_TINYSYS_VCP_SUPPORT is not set
# CONFIG_MTK_MMQOS_VCP is not set
CONFIG_INTERCONNECT_MTK_MMQOS_MT6768=m
CONFIG_MEDIATEK_CPU_DVFS=m
CONFIG_MTK_UNIFIED_POWER=m
CONFIG_MTK_STATIC_POWER_LEGACY=m
CONFIG_MTK_PTPOD_LEGACY=m
CONFIG_MTK_PPM_V3=m
# CONFIG_MTK_QOS_MT6893 is not set
CONFIG_MTK_QOS_LEGACY=y
CONFIG_MTK_QOS_BOUND_LEGACY=y
# CONFIG_MTK_IMGSENSOR is not set
CONFIG_MTK_IMGSENSOR_ISP4_T=m
# CONFIG_MTK_CAM_CAL is not set
CONFIG_MTK_CAM_CAL_ISP4_T=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="s5k4h7_mipi_raw s5k4h7sub_mipi_raw imx519_mipi_raw s5k2t7sp_mipi_raw s5k2p7_mipi_raw ov8856_mipi_raw imx386_mipi_raw imx398_mipi_raw s5k2l7_mipi_raw s5kjn1_mipi_raw gc08a3_mipi_raw"
# CONFIG_MTK_TINYSYS_MCUPM_SUPPORT is not set
# CONFIG_MTK_VDEC_FMT is not set
# CONFIG_VIDEO_MEDIATEK_VCODEC_V2 is not set
CONFIG_SND_SOC_MT6358_ACCDET=m
CONFIG_DEVICE_MODULES_SND_SOC_MT6660=m
CONFIG_SND_SOC_FS16XX=m
CONFIG_SND_SOC_MT6768=m
CONFIG_SND_SOC_MT6768_MT6358=m
# CONFIG_SND_SOC_MTK_AUDIO_DSP is not set
# CONFIG_MTK_AUDIODSP_SUPPORT is not set
# CONFIG_MTK_USB_OFFLOAD is not set
# CONFIG_MTK_VOW_SUPPORT is not set
# CONFIG_SND_SOC_MT6885 is not set
# CONFIG_SND_SOC_MT6885_MT6359P is not set
# CONFIG_SND_SOC_MT6879 is not set
# CONFIG_SND_SOC_MT6879_MT6368 is not set
# CONFIG_SND_SOC_MT6886 is not set
# CONFIG_SND_SOC_MT6886_MT6368 is not set
# CONFIG_SND_SOC_MT6895 is not set
# CONFIG_SND_SOC_MT6895_MT6368 is not set
# CONFIG_SND_SOC_MT6983 is not set
# CONFIG_SND_SOC_MT6983_MT6338 is not set
# CONFIG_SND_SOC_MT6985 is not set
# CONFIG_SND_SOC_MT6985_MT6338 is not set
# CONFIG_SND_SOC_MT6897 is not set
# CONFIG_SND_SOC_MT6897_MT6368 is not set
# CONFIG_DEVICE_MODULES_SND_SOC_MT6899 is not set
# CONFIG_DEVICE_MODULES_SND_SOC_MT6899_MT6368 is not set
# CONFIG_MTK_PMSR is not set
# CONFIG_DRM_MEDIATEK_PANEL is not set
CONFIG_MTK_FB_MMDVFS_SUPPORT=y
# CONFIG_MTK_TEE_GP_SUPPORT is not set
# CONFIG_MTK_MML is not set
CONFIG_MTK_MT6382_BDG=m
CONFIG_MTK_MML_LEGACY=m
CONFIG_MTK_MDP_MTEE_SUPPORT=m
CONFIG_MTK_CAMERA_ISP_RAW_SUPPORT_ISP4_T=m
CONFIG_MTK_TINYSYS_SCP_CM4_SUPPORT=y
# CONFIG_SND_SOC_MT6338_ACCDET is not set
# CONFIG_VIDEO_MTK_ISP_AOV is not set
# CONFIG_MTK_ULTRASND_PROXIMITY is not set
# CONFIG_MTK_VOW_SUPPORT is not set
# CONFIG_MTK_TINYSYS_SAP_SUPPORT is not set
# CONFIG_MTK_SENSORHUB is not set
# CONFIG_MTK_APUSYS_SUPPORT is not set
# CONFIG_MTK_CAMERA_FD_ISP7S_ISP7SP is not set
# CONFIG_ARM_FFA_TRANSPORT is not set
CONFIG_MTK_CAMERA_DPE_ISP40=m
CONFIG_MTK_CAMERA_FD_VERSION40=m
# CONFIG_MTK_THERMAL_AWARE_SCHEDULING is not set
# CONFIG_MTK_LEAKAGE_AWARE_TEMP is not set
# CONFIG_MTK_SCHED_FAST_LOAD_TRACKING is not set
# CONFIG_MTK_OPP_MIN is not set
# CONFIG_MTK_GEARLESS_SUPPORT is not set
# CONFIG_MTK_LEAKAGE_HIT is not set
# CONFIG_MTK_CPUQOS_EXT is not set
# CONFIG_MTK_SSC_MODULE is not set
# CONFIG_MTK_MMINFRA is not set
# CONFIG_MTK_TINYSYS_SCMI is not set
# CONFIG_MTK_SLBC is not set
# CONFIG_MTK_SLBC_IPI is not set
# CONFIG_MTK_SLBC_TRACE is not set
# CONFIG_MTK_SLBC_MMSRAM is not set
# CONFIG_DEVAPC_ARCH_MULTI is not set
# CONFIG_DEVAPC_MT6853 is not set
# CONFIG_DEVAPC_MT6833 is not set
# CONFIG_DEVAPC_MT6873 is not set
# CONFIG_DEVAPC_MT6877 is not set
# CONFIG_DEVAPC_MT6879 is not set
# CONFIG_DEVAPC_MT6886 is not set
# CONFIG_DEVAPC_MT6893 is not set
# CONFIG_DEVAPC_MT6895 is not set
# CONFIG_DEVAPC_MT6897 is not set
# CONFIG_DEVAPC_MT6899 is not set
# CONFIG_DEVAPC_MT6983 is not set
# CONFIG_DEVAPC_MT6985 is not set
# CONFIG_DEVAPC_MT6989 is not set
# CONFIG_DEVAPC_MT6991 is not set
CONFIG_MTK_SENSOR_ARCHITECTURE="1.0"
CONFIG_CUSTOM_KERNEL_ACCELEROMETER=y
CONFIG_MTK_ACCELHUB=y
CONFIG_CUSTOM_KERNEL_GYROSCOPE=y
CONFIG_MTK_GYROHUB=y
CONFIG_CUSTOM_KERNEL_ALSPS=y
CONFIG_MTK_ALSPSHUB=y
CONFIG_CUSTOM_KERNEL_MAGNETOMETER=y
CONFIG_MTK_MAGHUB=y
CONFIG_MTK_HWMON=y
CONFIG_CUSTOM_KERNEL_BAROMETER=y
CONFIG_MTK_BAROHUB=y
CONFIG_CUSTOM_KERNEL_STEP_COUNTER=y
CONFIG_MTK_STEPSIGNHUB=y
CONFIG_CUSTOM_KERNEL_SITUATION=y
CONFIG_MTK_STATHUB=y
CONFIG_MTK_WAKEHUB=y
CONFIG_MTK_GLGHUB=y
CONFIG_MTK_PICKUPHUB=y
CONFIG_MTK_DEVICE_ORIENTATION_HUB=y
CONFIG_MTK_MOTION_DETECT_HUB=y
CONFIG_MTK_TILTDETECTHUB=y
CONFIG_CUSTOM_KERNEL_SENSORHUB_1_0=y
CONFIG_NANOHUB=y
CONFIG_NANOHUB_MTK_IPI=y
CONFIG_CUSTOM_KERNEL_SENSOR_FUSION=y
CONFIG_MTK_ROTATVECHUB=y
CONFIG_MTK_GAMEROTVECHUB=y
CONFIG_MTK_GMAGROTVECHUB=y
CONFIG_MTK_GRAVITYHUB=y
CONFIG_MTK_LINEARACCHUB=y
CONFIG_MTK_ORIENTHUB=y
CONFIG_MTK_UNCALI_ACCHUB=y
CONFIG_MTK_UNCALI_GYROHUB=y
CONFIG_MTK_UNCALI_MAGHUB=y
CONFIG_CUSTOM_KERNEL_REAR_ALS=y
CONFIG_MTK_REAR_ALSHUB=y
CONFIG_CUSTOM_KERNEL_REAR_FLICKER=y
CONFIG_MTK_REAR_FLICKERHUB=y
# CONFIG_CHARGER_MT6375 is not set
# CONFIG_CHARGER_RT9490 is not set
# CONFIG_CHARGER_RT9758 is not set
# CONFIG_ZRAM_WRITEBACK is not set
CONFIG_CHARGER_BQ2589X=m
CONFIG_BATTERY_MM8013=m
CONFIG_MTK_IRQ_DBG_LEGACY=y
CONFIG_DEVICE_MODULES_MMC_MTK_MMC_WP=m
# CONFIG_MTK_ISE_LPM_SUPPORT is not set
# CONFIG_SND_SOC_MT6681_ACCDET is not set
# CONFIG_MTK_LPM_MT6989 is not set
# CONFIG_MTK_LOW_POWER_MODULE is not set
CONFIG_MTK_MMDEBUG=m
# CONFIG_TRUSTY is not set
CONFIG_MICROTRUST_TEE_VERSION="515"
# CONFIG_MTK_C2PS is not set
CONFIG_TRUSTONIC_TEE_VERSION="600"
# CONFIG_MTK_FLASHLIGHT_PPB is not set
# CONFIG_MTK_FLASHLIGHT_THERMAL is not set
CONFIG_MTK_MME_SUPPORT=y
# CONFIG_MTK_PKVM_TMEM is not set
# CONFIG_RT4831A_I2C is not set
CONFIG_DMABUF_LEGACY_TEST=y

# CONFIG_MTK_PUMP_EXPRESS_PLUS_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_PLUS_20_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_40_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_45_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_50_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_50_PLUS_SUPPORT is not set
# CONFIG_CHARGER_MT6375 is not set
# CONFIG_GAUGE_MT6375 is not set
# CONFIG_BATTERY_MT6357 is not set
# CONFIG_BATTERY_MT6359P is not set
# CONFIG_GAUGE_MT6379 is not set

# CONFIG_OPLUS_CHG_V2 is not set
# CONFIG_OPLUS_CHARGER_MTK6991V is not set
# CONFIG_OPLUS_MTK_DRM_GKI_NOTIFY_CHG is not set
# CONFIG_OPLUS_UFCS_CLASS is not set
# CONFIG_OPLUS_UFCS_CHARGE is not set
# CONFIG_OPLUS_CHARGER_MAXIM is not set
# CONFIG_OPLUS_WIRELESS_NU1669 is not set
# CONFIG_OPLUS_TPS6128XD_CHARGER is not set
# CONFIG_OPLUS_CHG_TEST_KIT is not set

CONFIG_OPLUS_CHG=m
CONFIG_OPLUS_CHARGER_MTK6769R=y
CONFIG_OPLUS_CHARGER=y
CONFIG_MTK_KERNEL_POWER_OFF_CHARGING=y
CONFIG_MTK_GAUGE_VERSION=30
CONFIG_OPLUS_CHECK_CHARGERID_VOLT=y
CONFIG_OPLUS_CHARGER_MTK_CHGIC=y
CONFIG_OPLUS_4400MV_BATTERY_SUPPORT=y
CONFIG_MTK_EXTERNAL_CHARGER_TYPE_DETECT=y
CONFIG_OPLUS_CALL_MODE_SUPPORT=y
CONFIG_OPLUS_SHIP_MODE_SUPPORT=y
CONFIG_CHARGER_SC6607=y
CONFIG_MTK_USB_IDDIG=y
CONFIG_OPLUS_HVDCP_SUPPORT=y
CONFIG_OPLUS_CHARGER_MTK=y
CONFIG_OPLUS_CHIP_SOC_NODE=y
CONFIG_OPLUS_SMART_CHARGER_SUPPORT=y
CONFIG_OPLUS_PD_EXT_SUPPORT=y

# CONFIG_PM_DEBUG is not set
CONFIG_DEVICE_MODULES_MMC_CQHCI_DEBUG=y
