CONFIG_CONSOLE_LOGLEVEL_DEFAULT=8
CONFIG_MTK_REGULATOR =m
CONFIG_DEBUG_DRIVER=y
CONFIG_MTK_CPUHOTPLUG=m
CONFIG_MTK_PLAT_POWER_6833=y
CONFIG_MTK_COMBO_CHIP_CONSYS_6833=y
CONFIG_MTK_CONN_MD=m
CONFIG_MTK_CONN_LTE_IDC_SUPPORT=y
CONFIG_MTK_STATIC_POWER_LEGACY=m
CONFIG_MEDIATEK_CPU_DVFS=m
CONFIG_MTK_CPU_MSSV=y
CONFIG_MTK_UNIFIED_POWER=m
CONFIG_MTK_PPM_V3=m
CONFIG_MTK_PTPOD_LEGACY=m
CONFIG_MTK_LPM_LEGACY=m
CONFIG_MTK_LPM_MT6833=m
CONFIG_MTK_LPM_GS_DUMP_SUPPORT=y
CONFIG_OPLUS_FEATURE_BINDER_STATS_ENABLE=y
CONFIG_OPLUS_FEATURE_MIDAS=y
CONFIG_MTK_MDPM_LEGACY=m
# CONFIG_MTK_MDPM is not set
CONFIG_PINCTRL_MT6833=m
CONFIG_MTK_IOMMU_DEBUG=y
CONFIG_INTERCONNECT_MTK_MMQOS_V6833=m
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
CONFIG_MTK_CAMERA_WPE_ISP6S=m
CONFIG_MTK_CAMERA_MFB_ISP6S=m
CONFIG_MTK_CAMERA_DIP_ISP6S=m
CONFIG_MTK_CAMERA_FD_ISP6S=m
CONFIG_MTK_CAMERA_DPE_ISP6S=m
CONFIG_MTK_CAMERA_RSC_ISP6S=m
# CONFIG_MTK_PKVM_TMEM is not set
CONFIG_MTK_ECCCI_DRIVER=m
CONFIG_MTK_TINYSYS_SSPM_V2=y
CONFIG_MTK_DCM_MT6833=m
# CONFIG_MTK_TINYSYS_SSPM_V3 is not set
# CONFIG_MTK_SWPM_MODULE is not set
# CONFIG_MTK_SWPM_MT6985 is not set
# CONFIG_MTK_SWPM_MT6983 is not set
# CONFIG_MTK_SWPM_MT6886 is not set
# CONFIG_MTK_SWPM_MT6897 is not set
# CONFIG_MTK_SWPM_MT6989 is not set
# CONFIG_MTK_SWPM_MT6991 is not set
# CONFIG_MTK_PMSR is not set
# CONFIG_MTK_MBRAINK is not set
# CONFIG_MTK_MBRAINK_MT6991 is not set
# CONFIG_MTK_LPM_MT6899 is not set
# CONFIG_MTK_LPM_MT6989 is not set
# CONFIG_MTK_LPM_MT6991 is not set
# CONFIG_MTK_TINYSYS_SCMI is not set
# CONFIG_MTK_CM_MGR is not set
# CONFIG_MTK_CM_IPI is not set
# CONFIG_MTK_CM_MGR_MT6893 is not set
CONFIG_MTK_CM_MGR_LEGACY_V1=m
CONFIG_MTK_CM_MGR_MT6833=m
# CONFIG_MTK_SSC_MODULE is not set
# CONFIG_MTK_MMINFRA is not set
# CONFIG_MTK_SLBC is not set
# CONFIG_MTK_SLBC_IPI is not set
# CONFIG_MTK_SLBC_TRACE is not set
# CONFIG_MTK_SLBC_MMSRAM is not set
CONFIG_MTK_EMI_LEGACY=m
CONFIG_MTK_EMI_LEGACY_VERSION=2
CONFIG_MTK_DEVMPU=m
CONFIG_COMMON_CLK_MT6833=m
CONFIG_COMMON_CLK_MT6833_AUDIOSYS=m
CONFIG_COMMON_CLK_MT6833_CAM=m
CONFIG_COMMON_CLK_MT6833_MMSYS=m
CONFIG_COMMON_CLK_MT6833_IMG=m
CONFIG_COMMON_CLK_MT6833_I2C=m
CONFIG_COMMON_CLK_MT6833_BUS=m
CONFIG_COMMON_CLK_MT6833_MFG=m
CONFIG_COMMON_CLK_MT6833_VCODEC=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="ov08d10_mipi_raw_fanli gc02m1_mipi_raw_fanli ov02b1b_mipi_mono_fanli s5k3l6_mipi_raw_fanli s5kjn103_mipi_raw_fanli c2519_mipi_raw_lijing hi846_mipi_raw_lijing s5kjn103_mipi_raw_lijing sc201cs_mipi_raw_lijing s5k3l6_mipi_raw_lijing sc800cs_mipi_raw_lijing s5k3l6_mipi_raw_lijinga  sc201cs_mipi_raw_lijinga  sc520cs_mipi_raw_lijinga hi556_mipi_raw_lijinga hi846_mipi_raw_lijinga ov64b40_mipi_raw_hawaii ov08d10_mipi_raw_hawaii ov16a1q_mipi_raw_hawaii ov02b1b_mipi_mono_hawaii"
# for fanli lijing   c2519_mipi_raw_lijing hi846_mipi_raw_lijing s5kjn103_mipi_raw_lijing sc201cs_mipi_raw_lijing s5k3l6_mipi_raw_lijing sc800cs_mipi_raw_lijing 
# for  lijinga sensor s5k3l6_mipi_raw_lijinga  sc201cs_mipi_raw_lijinga  sc520cs_mipi_raw_lijinga hi556_mipi_raw_lijinga  hi846_mipi_raw_lijinga
# CONFIG_MTK_IMGSENSOR is not set
CONFIG_MTK_IMGSENSOR_ISP6S_MON=m
CONFIG_MTK_PLAT_POWER_MT6833=m
# CONFIG_COMMON_CLK_MT6893 is not set
# CONFIG_MTK_QOS_MT6893 is not set
CONFIG_MTK_DVFSRC_MT6873_IP=m
CONFIG_MTK_QOS_MT6833=y
CONFIG_MTK_QOS_BOUND_LEGACY=y
# CONFIG_MTK_MMQOS_VCP is not set
CONFIG_MTK_MDP_MTEE_SUPPORT=m
# CONFIG_MTK_MML is not set
# CONFIG_MTK_MMINFRA is not set
CONFIG_MTK_MML_LEGACY=m
CONFIG_MTK_MT6382_BDG=m
# CONFIG_MTK_FLASHLIGHT_PPB is not set
# CONFIG_MTK_FLASHLIGHT_THERMAL is not set
# CONFIG_MTK_CAM_CAL is not set
CONFIG_MTK_CAM_CAL_ISP6S_MON=m
# CONFIG_MTK_DPC is not set
# CONFIG_MTK_TINYSYS_VCP_SUPPORT is not set
CONFIG_MTK_GPU_LEGACY=y
CONFIG_MTK_GPU_MT6833_SUPPORT=m
# CONFIG_MTK_THERMAL_AWARE_SCHEDULING is not set
# CONFIG_MTK_LEAKAGE_AWARE_TEMP is not set
# CONFIG_MTK_SCHED_FAST_LOAD_TRACKING is not set
# CONFIG_MTK_OPP_MIN is not set
# CONFIG_MTK_GEARLESS_SUPPORT is not set
# CONFIG_MTK_LEAKAGE_HIT is not set
# CONFIG_MTK_PERF_IOCTL_MAGT is not set
# CONFIG_COMMON_CLK_MTK_FREQ_HOPPING_GPUEB is not set
# CONFIG_DEVICE_MODULES_REGULATOR_MT6370 is not set
# CONFIG_RT4831A_I2C is not set
# CONFIG_MTK_C2PS is not set
CONFIG_MTK_VOW_MAX_PDK_NUMBER=1
CONFIG_SND_SOC_RT5509=m
CONFIG_SND_SOC_MT6833=m
CONFIG_SND_SOC_MT6833_MT6359P=m
CONFIG_MTK_CAMERA_RSC_ISP6S=m
# CONFIG_MTK_ULTRASND_PROXIMITY is not set
# CONFIG_MTK_USB_OFFLOAD is not set
# CONFIG_SND_SOC_MTK_OFFLOAD is not set
# CONFIG_MTK_AUDIODSP_SUPPORT is not set
# CONFIG_MTK_ADSP_V1 is not set
# CONFIG_MTK_ADSP_V2 is not set
# CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT is not set
# CONFIG_SND_SOC_MTK_AUDIO_DSP is not set
# CONFIG_SND_SOC_MT6985 is not set
# CONFIG_DEVICE_MODULES_SND_SOC_MT6899 is not set
# CONFIG_DEVICE_MODULES_SND_SOC_MT6899_MT6368 is not set
# CONFIG_ARM_FFA_TRANSPORT is not set
CONFIG_MICROTRUST_TEE_VERSION="515"
CONFIG_MTK_CAM_SECURE_FD_SUPPORT=m
CONFIG_MTK_CAMERA_DIP_ISP6S=m
CONFIG_MTK_CAMERA_FD_ISP6S=m
CONFIG_MTK_CAMERA_MFB_ISP6S=m
CONFIG_MTK_CAMERA_DPE_ISP6S=m
# CONFIG_MTK_VDEC_FMT is not set
# CONFIG_VIDEO_MEDIATEK_VCODEC_V2 is not set
# CONFIG_DEVICE_MODULES_MTK_THERMAL is not set
# CONFIG_MTK_SOC_THERMAL_LVTS is not set
# CONFIG_MTK_PMIC_THERMAL is not set
# CONFIG_MTK_MD_THERMAL is not set
# CONFIG_MTK_THERMAL_TRACE is not set
# CONFIG_MTK_THERMAL_INTERFACE is not set
# CONFIG_MTK_THERMAL_JATM is not set
# CONFIG_MTK_VTSKIN_THERMAL is not set
# CONFIG_MTK_CHARGER_THERMAL is not set
# CONFIG_MTK_BACKLIGHT_THERMAL is not set
# CONFIG_MTK_BOARD_THERMAL is not set
# CONFIG_MTK_WIFI_THERMAL is not set
# CONFIG_PM_DEBUG is not set
CONFIG_MTK_LEGACY_THERMAL=m
CONFIG_MTK_THERMAL_PA_VIA_ATCMD=y
CONFIG_TRUSTONIC_TEE_VERSION="600"
# CONFIG_MTK_PUMP_EXPRESS_PLUS_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_PLUS_20_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_40_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_45_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_50_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_50_PLUS_SUPPORT is not set
# CONFIG_CHARGER_MT6375 is not set
# CONFIG_GAUGE_MT6375 is not set
# CONFIG_BATTERY_MT6358 is not set
# CONFIG_BATTERY_MT6357 is not set

# CONFIG_OPLUS_CHG_V2 is not set
# CONFIG_OPLUS_CHARGER_MTK6991V is not set
# CONFIG_OPLUS_MTK_DRM_GKI_NOTIFY_CHG is not set
# CONFIG_OPLUS_UFCS_CLASS is not set
# CONFIG_OPLUS_UFCS_CHARGE is not set
# CONFIG_OPLUS_CHARGER_MAXIM is not set
# CONFIG_OPLUS_WIRELESS_NU1669 is not set
# CONFIG_OPLUS_TPS6128XD_CHARGER is not set
# CONFIG_OPLUS_CHG_TEST_KIT is not set


CONFIG_OPLUS_CHG=m
CONFIG_OPLUS_CHARGER_MTK6833=y

CONFIG_OPLUS_SMOOTH_SOC=y
CONFIG_OPLUS_SHORT_C_BATT_CHECK=y
CONFIG_OPLUS_SHORT_HW_CHECK=y
CONFIG_OPLUS_SHORT_USERSPACE=y
CONFIG_OPLUS_SHORT_IC_CHECK=y
CONFIG_OPLUS_RTC_DET_SUPPORT=y
CONFIG_OPLUS_CHARGER_MTKAGING=y
CONFIG_OPLUS_4400MV_BATTERY_SUPPORT=y
CONFIG_MTK_TYPEC_WATER_DETECT=y
CONFIG_OPLUS_HVDCP_SUPPORT=y
CONFIG_OPLUS_CHARGER_MTK_CHGIC=y
CONFIG_MTK_GAUGE_VERSION=30
CONFIG_OPLUS_CHARGER_OPTIGA=y
# CONFIG_GAUGE_MT6379 is not set
# CONFIG_UFCS_CLASS is not set
CONFIG_MTK_PLATFORM_CAMERA = "mt6853"
CONFIG_ARCH_MTK_PROJECT_CAMERA = "k6833v1_64"
CONFIG_MTK_SENSOR_ARCHITECTURE="2.0"
CONFIG_CUSTOM_KERNEL_SENSORHUB=m
CONFIG_NANOHUB=y
CONFIG_NANOHUB_MTK_IPI=y
CONFIG_DMABUF_LEGACY_TEST=y
CONFIG_MTK_MME_SUPPORT=y
CONFIG_MT6360_PMIC=y
