CONFIG_PINCTRL_MT6885=m
CONFIG_CONSOLE_LOGLEVEL_DEFAULT=8
CONFIG_MTK_COMBO_CHIP_CONSYS_6893=y
CONFIG_MTK_DCM_MT6885=m
CONFIG_COMMON_CLK_MT6893=m
CONFIG_COMMON_CLK_MT6893_APU0=m
CONFIG_COMMON_CLK_MT6893_APU1=m
CONFIG_COMMON_CLK_MT6893_APU2=m
CONFIG_COMMON_CLK_MT6893_APU_VCORE=m
CONFIG_COMMON_CLK_MT6893_APU_CONN=m
CONFIG_COMMON_CLK_MT6893_APU_MDLA0=m
CONFIG_COMMON_CLK_MT6893_APU_MDLA1=m
CONFIG_COMMON_CLK_MT6893_AUDIOSYS=m
CONFIG_COMMON_CLK_MT6893_CAMSYS_MAIN=m
CONFIG_COMMON_CLK_MT6893_CAMSYS_RAWA=m
CONFIG_COMMON_CLK_MT6893_CAMSYS_RAWB=m
CONFIG_COMMON_CLK_MT6893_CAMSYS_RAWC=m
CONFIG_COMMON_CLK_MT6893_IMGSYS1=m
CONFIG_COMMON_CLK_MT6893_IMGSYS2=m
CONFIG_COMMON_CLK_MT6893_IMP_IIC_WRAP_C=m
CONFIG_COMMON_CLK_MT6893_IMP_IIC_WRAP_E=m
CONFIG_COMMON_CLK_MT6893_IMP_IIC_WRAP_N=m
CONFIG_COMMON_CLK_MT6893_IMP_IIC_WRAP_S=m
CONFIG_COMMON_CLK_MT6893_IPESYS=m
CONFIG_COMMON_CLK_MT6893_MDPSYS=m
CONFIG_COMMON_CLK_MT6893_MFGCFG=m
CONFIG_COMMON_CLK_MT6893_MMSYS=m
CONFIG_COMMON_CLK_MT6893_SCP_ADSP=m
CONFIG_COMMON_CLK_MT6893_VDECSYS=m
CONFIG_COMMON_CLK_MT6893_VDECSYS_SOC=m
CONFIG_COMMON_CLK_MT6893_VENCSYS_C1=m
CONFIG_COMMON_CLK_MT6893_VENCSYS=m
CONFIG_MTK_CPUHOTPLUG=m
CONFIG_MTK_STATIC_POWER_LEGACY=m
CONFIG_MTK_PLAT_POWER_6893=m
CONFIG_MTK_UNIFIED_POWER=m
CONFIG_MTK_PTPOD_LEGACY=m
CONFIG_MTK_LPM_LEGACY=m
CONFIG_MTK_LPM_MT6893=m
CONFIG_MTK_LPM_GS_DUMP_SUPPORT=y
CONFIG_MEDIATEK_MCDI=m
CONFIG_MEDIATEK_CPUIDLE=m
CONFIG_MTK_PPM_V3=m
CONFIG_MTK_MDPM_LEGACY=m
# CONFIG_MTK_MDPM is not set
CONFIG_MTK_DEVMPU=m
CONFIG_MTK_DEVMPU_EMI=m
CONFIG_MTK_DVFSRC_MT6873_IP=m
# CONFIG_MTK_POWER_THROTTLING_LVSYS_NOTIFY is not set
CONFIG_MEDIATEK_CPU_DVFS=m
CONFIG_MTK_CPU_MSSV=y
CONFIG_MTK_LEGACY_THERMAL=m
CONFIG_MTK_THERMAL_PA_VIA_ATCMD=y
CONFIG_MTK_LEGACY_PLATFORM="mt6885"
# CONFIG_MTK_THERMAL_AWARE_SCHEDULING is not set
# CONFIG_DEVICE_MODULES_MTK_THERMAL is not set
# CONFIG_MTK_SOC_THERMAL_LVTS is not set
# CONFIG_MTK_PMIC_THERMAL is not set
# CONFIG_MTK_MD_THERMAL is not set
# CONFIG_MTK_THERMAL_TRACE is not set
# CONFIG_MTK_THERMAL_INTERFACE is not set
# CONFIG_MTK_THERMAL_JATM is not set
# CONFIG_MTK_VTSKIN_THERMAL is not set
# CONFIG_MTK_CHARGER_THERMAL is not set
# CONFIG_MTK_BACKLIGHT_THERMAL is not set
# CONFIG_MTK_BOARD_THERMAL is not set
# CONFIG_MTK_WIFI_THERMAL is not set
# CONFIG_COMMON_CLK_MTK_FREQ_HOPPING_GPUEB is not set
# CONFIG_MTK_MBRAINK is not set
# CONFIG_MTK_SWPM_MODULE is not set
# CONFIG_MTK_THERMAL_AWARE_SCHEDULING is not set
# CONFIG_MTK_LEAKAGE_AWARE_TEMP is not set
# CONFIG_MTK_SCHED_FAST_LOAD_TRACKING is not set
# CONFIG_MTK_OPP_MIN is not set
# CONFIG_MTK_GEARLESS_SUPPORT is not set
# CONFIG_MTK_CPUQOS_EXT is not set
# CONFIG_MTK_LEAKAGE_HIT is not set
CONFIG_REGULATOR_MT6359P=m
CONFIG_MTK_GPU_MT6893_SUPPORT=m
CONFIG_MTK_PTPOD_GPU=m
CONFIG_MTK_GPU_LEGACY=y
CONFIG_MTK_SMI_BWC=m
# CONFIG_MTK_TINYSYS_VCP_SUPPORT is not set
# CONFIG_MTK_MMQOS_VCP is not set
CONFIG_INTERCONNECT_MTK_MMQOS_MT6893=m
CONFIG_MTK_EMI_LEGACY=m
CONFIG_MTK_EMI_LEGACY_VERSION=2
CONFIG_MFD_MT6360=m
CONFIG_MTK_BLOCK_IO_TRACER=m
# CONFIG_DEVICE_MODULES_ARM_SMMU_V3 is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_PMU is not set
# CONFIG_DEVICE_MODULES_MTK_SMMU_V3_LMU is not set
# CONFIG_MEDIATEK_MCDI is not set
# CONFIG_DRM_MEDIATEK_PANEL is not set
# CONFIG_MTK_FB_MMDVFS_SUPPORT is not set
# CONFIG_MTK_TEE_GP_SUPPORT is not set
# CONFIG_MTK_MML is not set
# CONFIG_DEVICE_MODULES_REGULATOR_MT6370 is not set
# CONFIG_RT4831A_I2C is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_144HZ_HFP is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_60HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_144HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ is not set
# CONFIG_DRM_PANEL_ALPHA_JDI_NT36672E_VDO_120HZ_THRESHOLD is not set
# CONFIG_DRM_PANEL_NT37801_CMD_LTPO is not set
# CONFIG_DRM_PANEL_NT37801_CMD_120HZ is not set
# CONFIG_DRM_PANEL_NT37801_CMD_SPR is not set
# CONFIG_DRM_PANEL_NT37801_CMD_FHD is not set
# CONFIG_DRM_PANEL_NT37801_CMD_FHD_PLUS is not set
# CONFIG_DRM_PANEL_BOE_TS127QFMLL1DKP0 is not set
CONFIG_MTK_MML_LEGACY=m
CONFIG_MTK_MDP_MTEE_SUPPORT=m
# CONFIG_MTK_TINYSYS_SSPM_V3 is not set
# CONFIG_MTK_PMSR is not set
CONFIG_MTK_CONN_SCP=m
CONFIG_MTK_GPS_SUPPORT=y
CONFIG_MTK_TINYSYS_SCP_SUPPORT=m
CONFIG_MTK_TINYSYS_SCP_LOGGER_SUPPORT=y
CONFIG_MTK_TINYSYS_SSPM_SUPPORT=m
CONFIG_MTK_TINYSYS_SSPM_V2=y
# CONFIG_MTK_CM_IPI is not set
# CONFIG_MTK_CM_MGR is not set
CONFIG_MTK_CM_MGR_LEGACY_V1=m
CONFIG_CUSTOM_KERNEL_IMGSENSOR="s5kjd1_mipi_raw ov05a20_mipi_raw imx519_mipi_raw imx586_mipi_raw imx576_mipi_raw imx398_mipi_raw s5k2l7_mipi_raw imx386_mipi_raw imx481_mipi_raw s5k2t7sp_mipi_raw imx499_mipi_raw imx319_mipi_raw s5k3m5sx_mipi_raw gc02m0_mipi_raw"
# CONFIG_MTK_SSC_MODULE is not set
# CONFIG_MTK_TINYSYS_SCMI is not set
# CONFIG_MTK_MMINFRA is not set
# CONFIG_ARM_FFA_TRANSPORT is not set
CONFIG_MTK_CAMERA_FD_ISP6S=m
CONFIG_MTK_CAM_SECURE_FD_SUPPORT=m
CONFIG_MTK_CAMERA_DIP_ISP6S=m
CONFIG_MTK_CAMERA_WPE_ISP6S=m
CONFIG_MTK_CAMERA_MFB_ISP6S=m
CONFIG_MTK_CAMERA_DPE_ISP6S=m
# CONFIG_MTK_TINYSYS_MBOX is not set
CONFIG_MTK_CAMERA_RSC_ISP6S=m
CONFIG_SND_SOC_MT6885_MT6359P=m
# CONFIG_MTK_ULTRASND_PROXIMITY is not set
# CONFIG_MTK_USB_OFFLOAD is not set
# CONFIG_SND_SOC_MT6985 is not set
# CONFIG_MTK_TINYSYS_SCMI is not set
# CONFIG_MTK_ISE_LPM_SUPPORT is not set
# CONFIG_SND_SOC_MT6681_ACCDET is not set
# CONFIG_MTK_LPM_MT6989 is not set
# CONFIG_MTK_FLASHLIGHT_PPB is not set
# CONFIG_MTK_FLASHLIGHT_THERMAL is not set
# CONFIG_MTK_LOW_POWER_MODULE is not set
CONFIG_MTK_MMDEBUG=m
# CONFIG_TRUSTY is not set
# CONFIG_MTK_PGBOOST is not set
# CONFIG_MTK_C2PS is not set
# CONFIG_ARM_FFA_TRANSPORT is not set
CONFIG_TRUSTONIC_TEE_VERSION="600"
# CONFIG_MTK_VDEC_FMT is not set
# CONFIG_VIDEO_MEDIATEK_VCODEC_V1 is not set
# CONFIG_MTK_PKVM_TMEM is not set
# CONFIG_MTK_PERF_IOCTL_MAGT is not set
# CONFIG_MTK_AMMS is not set
CONFIG_UFS_MEDIATEK_MT6893=y
CONFIG_MTK_MME_SUPPORT=y
# CONFIG_MTK_SLBC_MT6983 is not set
# CONFIG_MTK_SLBC_MT6895 is not set
# CONFIG_MTK_SLBC_MT6985 is not set
# CONFIG_MTK_SLBC_MT6886 is not set
# CONFIG_MTK_SLBC_MT6897 is not set
# CONFIG_MTK_SLBC_MT6899 is not set
# CONFIG_MTK_SLBC_MT6989 is not set
# CONFIG_MTK_SLBC_MT6991 is not set
# CONFIG_MTK_SLBC_IPI is not set
# CONFIG_MTK_SLBC_TRACE is not set
CONFIG_MTK_SENSOR_ARCHITECTURE="2.0"
CONFIG_CUSTOM_KERNEL_SENSORHUB=m
CONFIG_NANOHUB=y
CONFIG_NANOHUB_MTK_IPI=y
# CONFIG_MTK_SENSORHUB is not set
CONFIG_ADSP_VOIP_LEGACY=y
CONFIG_ADSP_SLB_LEGACY=y
# CONFIG_PM_DEBUG is not set
CONFIG_DMABUF_LEGACY_TEST=y
