CONFIG_BACKLIGHT_SGM37604A=m
CONFIG_CAMEREA_TB8786P2=m
CONFIG_CUSTOM_KERNEL_ALS=y
CONFIG_MTK_LCM_PHYSICAL_ROTATION_HW=y
# CONFIG_CUSTOM_KERNEL_MAGNETOMETER is not set
# CONFIG_CUSTOM_KERNEL_BAROMETER is not set
# CONFIG_CUSTOM_KERNEL_STEP_COUNTER is not set
# CONFIG_CUSTOM_KERNEL_GRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GMRV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_RV_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_LINEARACCEL_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_GRAVITY_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_UNCALI_ACC_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_UNCALI_GYRO_SENSOR is not set
# CONFIG_CUSTOM_KERNEL_UNCALI_MAG_SENSOR is not set
