# CONFIG_DEVICE_MODULES_CHARGER_MT6370 is not set
# CONFIG_DEVICE_MODULES_CHARGER_MT6360 is not set
CONFIG_CHARGER_BQ25601=y
# CONFIG_CHARGER_RT9758 is not set
# CONFIG_CHARGER_RT9490 is not set
# CONFIG_CHARGER_RT9759 is not set
# CONFIG_CHARGER_MT6375 is not set
# CONFIG_MTK_PUMP_EXPRESS_40_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_45_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_50_SUPPORT is not set
# CONFIG_MTK_PUMP_EXPRESS_50_PLUS_SUPPORT is not set
CONFIG_TOUCHSCREEN_MTK_TOUCH=""
CONFIG_TOUCHSCREEN_FOCALTECH_TOUCH=m
CONFIG_MTK_LCM_PHYSICAL_ROTATION_HW=y
CONFIG_SND_SOC_AW87519=y
# CONFIG_SND_SOC_RT5509 is not set
CONFIG_CUSTOM_KERNEL_IMGSENSOR="gc5035_mipi_raw hi556_mipi_raw gc2375h_mipi_raw"
CONFIG_CAMEREA_PROJECT_TB8766P1=m
