
CONFIG_GRT_HYPERVISOR=m
CONFIG_DEVICE_MODULES_VHOST_BLK=m
CONFIG_DEVICE_MODULES_VHOST_UART=m
CONFIG_DEVICE_MODULES_ACRN_HSM=m
CONFIG_VHOST_NET=m
CONFIG_VSOCKETS=m
CONFIG_VHOST_VSOCK=m
CONFIG_JPEG_V4L2_DECODE=y
CONFIG_VHOST_CMDQ=m
CONFIG_NEBULA_SND_PASSTHROUGH=m
CONFIG_VHOST_DMABUF=m
CONFIG_VHOST_VDMABUF=m
CONFIG_MTK_SPM_VHOST_DMABUF_PHYS=m
CONFIG_GRT_HYPERVISOR=m
CONFIG_DEVICE_MODULES_VHOST_ADSP=m
CONFIG_VHOST_APU=m
CONFIG_VHOST_IOMMU=m
CONFIG_NET=y
CONFIG_SECURITY=y
CONFIG_SECURITY_APPARMOR=y
CONFIG_DEFAULT_SECURITY_APPARMOR=y
CONFIG_LSM="landlock,lockdown,yama,loadpin,safesetid,bpf,apparmor"
CONFIG_DEVICE_MODULES_VHOST_SPI=m
CONFIG_BOOTPARAM_HUNG_TASK_PANIC=y
# CONFIG_MTK_TASK_TURBO is not set
CONFIG_NEBULA=m
CONFIG_NEBULA_CORE=m
CONFIG_NEBULA_LOG=m
CONFIG_NEBULA_VIRTIO=m
CONFIG_NEBULA_VIRTIO_IPC=m
CONFIG_NEBULA_IPC=y
CONFIG_NEBULA_VTEE=m
CONFIG_NEBULA_VTEE_LOG=m
CONFIG_VHOST_MMDVFS=m
CONFIG_VHOST_DISP=m
