#ifdef OPLUS_FEATURE_SENSOR
CONFIG_OPLUS_SENSOR_DEVINFO_V2=m
CONFIG_OPLUS_VIRTUAL_SENSOR=m
CONFIG_OPLUS_SENSOR_CMD=m
CONFIG_OPLUS_SENSOR_ATTR=m
CONFIG_OPLUS_SENSOR_EVENT=m
CONFIG_OPLUS_SENSOR_FB_MTK=m
CONFIG_OPLUS_FEATURE_LUX_AOD=m
CONFIG_OPLUS_FEATURE_PICKUP_DETECT=m
CONFIG_OPLUS_FEATURE_FP_DISPLAY=m
CONFIG_OPLUS_FEATURE_PEDO_MINUTE=m
CONFIG_OPLUS_FEATURE_ROTATION_DETECT=m
CONFIG_OPLUS_FEATURE_ACTIVITY_RECOGNITION=m
CONFIG_OPLUS_FEATURE_ELEVATOR_DETECT=m
CONFIG_OPLUS_FEATURE_BACK_TAP_DETECT=m
CONFIG_OPLUS_FEATURE_SENSOR_ALGORITHM=y
CONFIG_MTK_SENSOR_ARCHITECTURE="2.0"
CONFIG_CUSTOM_KERNEL_SENSORHUB=m
CONFIG_NANOHUB=y
CONFIG_NANOHUB_MTK_IPI=y
#endif /* OPLUS_FEATURE_SENSOR */

#ifdef OPLUS_FEATURE_OEM_OCDT
CONFIG_OPLUS_FEATURE_CMDLINE=m
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_OPLUS_FEATURE_OPROJECT=m
CONFIG_OPLUS_FEATURE_BUILDVARIANT=m
CONFIG_OPLUS_FEATURE_OPLUSBOOT=m
CONFIG_OPLUS_FEATURE_FTMMODE=m
CONFIG_OPLUS_FEATURE_CDT=m
#endif /* OPLUS_FEATURE_OEM_OCDT */


#ifdef OPLUS_FEATURE_OEM_BOOT_MODE
CONFIG_OPLUS_FEATURE_BOOTARGS=m
CONFIG_OPLUS_FEATURE_OPLUS_CUSTOM=m
CONFIG_MTK_BOOT_COMMON=m
#endif /* OPLUS_FEATURE_OEM_BOOT_MODE */

CONFIG_OPLUS_DDK_MTK=y

CONFIG_OPLUS_FEATURE_CPU=y
CONFIG_OPLUS_OMRG=m
CONFIG_OPLUS_FEATURE_ABNORMAL_FLAG=m

CONFIG_LOCKING_PROTECT=y
CONFIG_PCPU_RWSEM_LOCKING_PROTECT=y
CONFIG_OPLUS_FEATURE_GKI_CPUFREQ_BOUNCING=m

CONFIG_OPLUS_FEATURE_SCHED_ASSIST=m
CONFIG_OPLUS_FEATURE_PIPELINE=y
CONFIG_OPLUS_FEATURE_SCHED_SPREAD=y
CONFIG_OPLUS_ADD_CORE_CTRL_MASK=y
CONFIG_OPLUS_FEATURE_BAN_APP_SET_AFFINITY=y
CONFIG_OPLUS_CPU_AUDIO_PERF=y
CONFIG_OPLUS_FEATURE_LOADBALANCE=y
CONFIG_OPLUS_FEATURE_TASK_CPUSTATS=m
CONFIG_OPLUS_FEATURE_TASK_SCHED=m
CONFIG_OPLUS_FEATURE_CPU_JANKINFO=m
# CONFIG_OPLUS_FEATURE_FRAME_BOOST is not set
CONFIG_UA_KERNEL_CPU_IOCTL=m

# CONFIG_OPLUS_FEATURE_VT_CAP=m is not set
# CONFIG_OPLUS_FEATURE_EAS_OPT=m is not set
# CONFIG_OPLUS_CPUFREQ_IOWAIT_PROTECT=m is not set


CONFIG_MTK_ROUND_CORNER_SUPPORT=y
CONFIG_DRM_PANEL_AC178_P_3_A0004_DSI_CMD=m
CONFIG_DRM_PANEL_AC180_P_3_A0020_DSI_CMD=m
CONFIG_DRM_PANEL_AC178_P_7_A0014_DSI_CMD=m
CONFIG_DRM_PANEL_AC102_P_7_A0007_DSC_VIDEO_MODE_PANEL=m
CONFIG_DRM_PANEL_AC102_P_3_A0010_FHDP_DSI_VDO=m
CONFIG_DRM_PANEL_OPLUS22291_HLT_ILI9883C_DPHY_VDO=m
CONFIG_DRM_PANEL_OPLUS22291_TRULY_TD4160_DPHY_VDO=m
CONFIG_DRM_PANEL_OPLUS22291_BOE_ILI9883C_DPHY_VDO=m
CONFIG_DRM_PANEL_OPLUS23053_BOE_ILI9883C_DPHY_VDO=m
CONFIG_DRM_PANEL_OPLUS23053_TRULY_TD4160_DPHY_VDO=m
CONFIG_DRM_PANEL_OPLUS22610_SAMSUNG_AMS643AG01_1080P_DSI_CMD=m
#ifdef OPLUS_ARCH_EXTENDS
CONFIG_SND_SOC_SIA91XX_V3_1_0=m
CONFIG_OPLUS_MTK_AUDIO_EXT=m
CONFIG_OPLUS_FEATURE_MM_FEEDBACK=m
CONFIG_SND_SOC_TFA9874=m
CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT=y
CONFIG_SND_SOC_TFA98XX=m
CONFIG_SND_SOC_OPLUS_PA_MANAGER=m
CONFIG_SND_SOC_AW87XXX_2_X_0=m
#endif

#ifndef OPLUS_FEATURE_SECURITY_COMMON
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
#endif /* OPLUS_FEATURE_SECURITY_COMMON */

CONFIG_OPLUS_DDK_MTK=y

CONFIG_MTK_ROUND_CORNER_SUPPORT=y

CONFIG_HYBRIDSWAP=y
CONFIG_HYBRIDSWAP_SWAPD=y
CONFIG_HYBRIDSWAP_CORE=y
CONFIG_HYBRIDSWAP_ZRAM=m
CONFIG_HYBRID_ZSMALLOC=m

#ifndef OPLUS_FEATURE_SECURITY_COMMON
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y

CONFIG_OPLUS_FEATURE_FP=y
CONFIG_OPLUS_MTK_FINGERPRINT=m
CONFIG_OPLUS_MTK_FINGERPRINT_SILEAD=m
CONFIG_OPLUS_FINGERPRINT_MTK=y
#endif /* OPLUS_FEATURE_SECURITY_COMMON */

#BSP.TP changes
CONFIG_OPLUS_MTK_DRM_GKI_NOTIFY=y
CONFIG_TOUCHPANEL_OPLUS=m
CONFIG_REMOVE_OPLUS_FUNCTION=y
CONFIG_TOUCHPANEL_CUSTOM=m
CONFIG_OPLUS_FW_UPDATE=m
CONFIG_TOUCHPANEL_NOTIFY=m
CONFIG_TOUCHPANEL_MTK_PLATFORM=y
CONFIG_TOUCHPANEL_NOVA=m
CONFIG_TOUCHPANEL_NOVA_NT36672C_NOFLASH=m
CONFIG_TOUCHPANEL_ILITEK=m
CONFIG_TOUCHPANEL_ILITEK_ILITEK7807S=m
CONFIG_TOUCHPANEL_SYNAPTICS=m
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX=m
CONFIG_TOUCHPANEL_SYNAPTICS_TD4377_NOFLASH=m
CONFIG_TOUCHPANEL_FOCAL=m
CONFIG_TOUCHPANEL_FOCAL_FT3518=m

CONFIG_MACH_CAMERA_MT6833=y
CONFIG_REGULATOR_SM5109_TPS65132=m

CONFIG_MTK_ENGINE_COOLER_DISABLE=y
CONFIG_OPLUS_MTK_DRM_GKI_NOTIFY_CHG=y