#ifdef OPLUS_FEATURE_SENSOR
CONFIG_OPLUS_SENSOR_DEVINFO_V2=m
CONFIG_OPLUS_VIRTUAL_SENSOR=m
CONFIG_OPLUS_SENSOR_CMD=m
CONFIG_OPLUS_SENSOR_ATTR=m
CONFIG_OPLUS_SENSOR_EVENT=m
CONFIG_OPLUS_FEATURE_LUX_AOD=m
CONFIG_OPLUS_FEATURE_PICKUP_DETECT=m
CONFIG_OPLUS_FEATURE_FP_DISPLAY=m
CONFIG_OPLUS_FEATURE_PEDO_MINUTE=m
CONFIG_OPLUS_FEATURE_BACK_TAP_DETECT=m
CONFIG_OPLUS_FEATURE_ROTATION_DETECT=m
CONFIG_OPLUS_FEATURE_PHONE_PROX=m
CONFIG_OPLUS_FEATURE_GESTURE_PROX=m
CONFIG_OPLUS_FEATURE_AMBIENTE_PROX=m
CONFIG_OPLUS_FEATURE_ACTIVITY_RECOGNITION=m
CONFIG_OPLUS_FEATURE_ELEVATOR_DETECT=m
CONFIG_OPLUS_FEATURE_LAY_DETECT=m
CONFIG_OPLUS_FEATURE_PALM_DETECT=m
CONFIG_MTK_SENSOR_ARCHITECTURE="2.0"
CONFIG_OPLUS_FEATURE_SENSOR_ALGORITHM=y
CONFIG_OPLUS_SENSOR_FB_MTK=m

CONFIG_OPLUS_SENSOR_CONSUMER_IR_CORE=m
CONFIG_OPLUS_SENSOR_CONSUMER_IR_MTK=m
CONFIG_OPLUS_SENSOR_IR_USE_WL2868C=y

#endif /* OPLUS_FEATURE_SENSOR */

#ifdef OPLUS_FEATURE_OEM_OCDT
CONFIG_OPLUS_FEATURE_CMDLINE=m
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_OPLUS_FEATURE_OPROJECT=m
CONFIG_OPLUS_FEATURE_BUILDVARIANT=m
CONFIG_OPLUS_FEATURE_OPLUSBOOT=m
CONFIG_OPLUS_FEATURE_FTMMODE=m
CONFIG_OPLUS_FEATURE_CDT=m
#endif /* OPLUS_FEATURE_OEM_OCDT */


#ifdef OPLUS_FEATURE_OEM_BOOT_MODE
CONFIG_OPLUS_FEATURE_BOOTARGS=m
CONFIG_MTK_BOOT_COMMON=m
CONFIG_OPLUS_FEATURE_OPLUS_CUSTOM=m
#endif /* OPLUS_FEATURE_OEM_BOOT_MODE */
ONFIG_TOUCHPANEL_OPLUS=m
CONFIG_REMOVE_OPLUS_FUNCTION=y
CONFIG_TOUCHPANEL_CUSTOM=m
CONFIG_OPLUS_FW_UPDATE=m
CONFIG_TOUCHPANEL_NOTIFY=m
CONFIG_TOUCHPANEL_FOCAL=m
CONFIG_TOUCHPANEL_FOCAL_FT3681=y
CONFIG_TOUCHPANEL_FOCAL_FT3658U_SPI=y
CONFIG_OPLUS_DDK_MTK=y

CONFIG_OPLUS_FEATURE_CPU=y
CONFIG_OPLUS_OMRG=m
CONFIG_OPLUS_FEATURE_ABNORMAL_FLAG=m
CONFIG_LOCKING_PROTECT=y
CONFIG_PCPU_RWSEM_LOCKING_PROTECT=y
CONFIG_OPLUS_FEATURE_GKI_CPUFREQ_BOUNCING=m

CONFIG_HYBRIDSWAP=y
CONFIG_HYBRIDSWAP_SWAPD=y
CONFIG_HYBRIDSWAP_CORE=y
CONFIG_HYBRIDSWAP_ZRAM=m
CONFIG_HYBRID_ZSMALLOC=m

CONFIG_OPLUS_FEATURE_SCHED_ASSIST=m
CONFIG_OPLUS_FEATURE_PIPELINE=y
CONFIG_OPLUS_FEATURE_SCHED_SPREAD=y
CONFIG_OPLUS_ADD_CORE_CTRL_MASK=y
CONFIG_OPLUS_FEATURE_BAN_APP_SET_AFFINITY=y
CONFIG_OPLUS_CPU_AUDIO_PERF=y
CONFIG_OPLUS_FEATURE_LOADBALANCE=y
CONFIG_OPLUS_FEATURE_TASK_CPUSTATS=m
CONFIG_OPLUS_FEATURE_TASK_SCHED=m
CONFIG_OPLUS_FEATURE_CPU_JANKINFO=m
# CONFIG_OPLUS_FEATURE_FRAME_BOOST is not set
CONFIG_UA_KERNEL_CPU_IOCTL=m

# CONFIG_OPLUS_FEATURE_VT_CAP=m is not set
# CONFIG_OPLUS_FEATURE_EAS_OPT=m is not set
# CONFIG_OPLUS_CPUFREQ_IOWAIT_PROTECT=m is not set

CONFIG_MTK_ROUND_CORNER_SUPPORT=y
CONFIG_DRM_AC138_P_3_A0004_CMD_PANEL=m
CONFIG_DRM_PANEL_AC144_P_7_A0012_CMD_PANEL=m
CONFIG_DRM_PANEL_AC144_P_3_A0004_CMD_PANEL=m
CONFIG_DRM_PANEL_OPLUS22277_BOE_NT37705_FHD_DSI_CMD=m
CONFIG_DRM_PANEL_AC168_P_B_A0012_CMD_PANEL=m
CONFIG_DRM_PANEL_AC168_P_3_A0004_CMD_PANEL=m
CONFIG_DRM_PANEL_OPLUS23687_SAMSUNG_AMS667FK02_S6E8FC3_FHDP_DSI_VDO=m
CONFIG_DRM_PANEL_OPLUS22629_TIANMA_ILI7838A_T7_PLUS_FHD_DSI_CMD=m
CONFIG_DRM_PANEL_OPLUS22612_TIANMA_ILI7838A_FHD_DSI_CMD=m
CONFIG_DRM_PANEL_OPLUS22612_TIANMA_ILI7838A_T7_PLUS_FHD_DSI_CMD=m
#ifdef OPLUS_ARCH_EXTENDS
CONFIG_SND_SOC_SIA91XX_V3_1_0=m
#add for AW882XX_V1_13_0 driver
CONFIG_SND_SOC_CODEC_AW882XX_V1_13_0=y
CONFIG_SND_SOC_FSA=m
CONFIG_OPLUS_MTK_AUDIO_EXT=m
CONFIG_OPLUS_FEATURE_MM_FEEDBACK=m
CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT=y
#add for Audio Type-C switch support
CONFIG_SND_SOC_OPLUS_TYPEC_SWITCH=m
CONFIG_SND_SOC_OPLUS_DISCRETE_TYPEC_SWITCH=m
#endif
CONFIG_SND_SOC_TFA9874=m

#ifndef OPLUS_FEATURE_SECURITY_COMMON
CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
#endif /* OPLUS_FEATURE_SECURITY_COMMON */

CONFIG_MACH_CAMERA_MT6877=y

CONFIG_CAMERA_PMIC_ENABLE=m
CONFIG_LDO_AW37004=m
CONFIG_OPLUS_MTK_DRM_GKI_NOTIFY_CHG=y