#ifdef OPLUS_FEATURE_OEM_OCDT
CONFIG_OPLUS_FEATURE_CMDLINE=m
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_OPLUS_FEATURE_OPROJECT=m
CONFIG_OPLUS_FEATURE_BUILDVARIANT=m
CONFIG_OPLUS_FEATURE_OPLUSBOOT=m
CONFIG_OPLUS_FEATURE_FTMMODE=m
CONFIG_OPLUS_FEATURE_CDT=m
#endif /* OPLUS_FEATURE_OEM_OCDT */

#ifdef OPLUS_FEATURE_OEM_BOOT_MODE
CONFIG_OPLUS_FEATURE_BOOTARGS=m
CONFIG_MTK_BOOT_COMMON=m
#endif /* OPLUS_FEATURE_OEM_BOOT_MODE */
CONFIG_OPLUS_DDK_MTK=y

CONFIG_OPLUS_FEATURE_DISPLAY_MAINLINE=y
CONFIG_MTK_ROUND_CORNER_SUPPORT=y
CONFIG_DRM_PANEL_AC178_P_3_A0004_DSI_CMD=m
CONFIG_DRM_OPLUS_DISPLAY_DSI_PRIMARY=m
#ifdef OPLUS_ARCH_EXTENDS
CONFIG_SND_SOC_SIA91XX_V3_1_0=m
CONFIG_OPLUS_MTK_AUDIO_EXT=m
CONFIG_OPLUS_FEATURE_MM_FEEDBACK=m
CONFIG_SND_SOC_TFA9874=m
CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT=y
CONFIG_SND_SOC_TFA98XX=m
#endif

# CONFIG_DEVICE_MODULES_CHARGER_MT6370 is not set
# CONFIG_DEVICE_MODULES_MFD_MT6370 is not set
# CONFIG_DEVICE_MODULES_MEDIATEK_MT6370_ADC is not set
# CONFIG_TCPC_MT6370 is not set
# CONFIG_MT6370_DBG is not set
# CONFIG_DEVICE_MODULES_REGULATOR_MT6370 is not set
# CONFIG_DEVICE_MODULES_LEDS_MT6370_FLASH is not set
# CONFIG_REGULATOR_MT6379 is not set
# CONFIG_LEDS_MT6379 is not set
# CONFIG_PHY_MTK_MT6379_EUSB2_REPEATER is not set
# CONFIG_MFD_MT6379_SPMI is not set
# CONFIG_CHARGER_MT6379 is not set
# CONFIG_UFCS_MT6379 is not set
# CONFIG_GAUGE_MT6379 is not set
# CONFIG_MEDIATEK_MT6379_ADC is not set
# CONFIG_TCPC_MT6379 is not set
# CONFIG_OPLUS_MT6379_CHARGER is not set
# CONFIG_OPLUS_CHARGER_MTK6991V is not set
# CONFIG_OPLUS_PD_EXT_SUPPORT is not set
CONFIG_OPLUS_MT6375_CHARGER=y

