# CONFIG_MTK_MD_POWER_THROTTLING is not set
# CONFIG_MTK_MD_THERMAL is not set
# CONFIG_MTK_CCCI_DEVICES is not set
# CONFIG_MTK_MD1_SUPPORT is not set
# CONFIG_MTK_ECCCI_DRIVER is not set
# CONFIG_MTK_ECCCI_C2K is not set
# CONFIG_MTK_ECCCI_C2K_USB is not set
# CONFIG_MTK_MDDP_SUPPORT is not set
CONFIG_PPS=m
CONFIG_PPS_CLIENT_GPIO=m
CONFIG_MTK_HOST_DRV_WWAN_SUPPORT=y
CONFIG_MTK_MEMLOG_EVENT_SUPPORT=y
CONFIG_MTK_USIP_DRIVER=m
CONFIG_PCIE_BUS_SAFE=y
