# SPDX-License-Identifier: GPL-2.0-only
#
# MMC/SD host controller drivers
#

comment "MMC/SD/SDIO Host Controller Drivers"

config DEVICE_MODULES_MMC_DEBUG
    tristate "MMC host drivers debugging"
    depends on MMC != n
    help
      This is an option for use by developers; most people should
      say N here. This enables MMC host driver debugging. And further
      added host drivers please don't invent their private macro for
      debugging.

config DEVICE_MODULES_MMC_MTK
	tristate "MediaTek SD/MMC Card Interface support"
	depends on HAS_DMA
	depends on COMMON_CLK
	select REGULATOR
	select DEVICE_MODULES_MMC_CQHCI
	help
	  This selects the MediaTek(R) Secure digital and Multimedia card Interface.
	  If you have a machine with a integrated SD/MMC card reader, say Y or M here.
	  This is needed if support for any SD/SDIO/MMC devices is required.
	  If unsure, say N.

config DEVICE_MODULES_MMC_MTK_PRO
	tristate "MediaTek SD/MMC Card Proprietary Interface support"
	depends on !DEVICE_MODULES_MMC_MTK
	help
	  This selects the MediaTek(R) Secure digital and Multimedia card
	  Interface. If you have a machine with a integrated SD/MMC card
	  reader, say Y or M here.

	  If unsure, say N.

config DEVICE_MODULES_MMC_CQHCI
	tristate "Command Queue Host Controller Interface support"
	depends on HAS_DMA
	help
	  This selects the Command Queue Host Controller Interface (CQHCI)
	  support present in host controllers of Qualcomm Technologies, Inc
	  amongst others.
	  This controller supports eMMC devices with command queue support.

	  If you have a controller with this interface, say Y or M here.

	  If unsure, say N.

config DEVICE_MODULES_MMC_MTK_MMC_WP
	tristate "MediaTek eMMC Write Protect Group support"
	help
	  Set read-only on the partitions belonging to eMMC write protect groups.
	  If you set write protect on eMMC, say Y or M here.
	  If unsure, say N.

config DEVICE_MODULES_MMC_MTK_SW_CQHCI
	tristate "Sofeware Command Queue Host Controller Interface support"
	help
		Some mmc host maybe not have CQHCI hardware.
		This selects the Softeware Command Queue Host Controller Interface,
		which will get better performance but will consume more CPU time.

		If you want, say Y or M here.

		If unsure, say N.

config DEVICE_MODULES_MMC_MTK_SW_CQHCI_DEBUG
	bool "SW CQHCI debugfor userdebug and eng load"
	depends on MMC_MTK_SW_CQHCI
	help
		control SW CQHCI debug. Record more logs
		for some seldom issue. It is only enabled
		on userdebug and eng load.

		If unsure, say N.

config DEVICE_MODULES_MMC_CQHCI_DEBUG
	tristate "Command Queue Host Controller Interface Debug"
	depends on DEVICE_MODULES_MMC_CQHCI
	help
	  This option enables debug support for the Command Queue Host
	  Controller Interface (CQHCI) in MMC (MultiMediaCard) host devices.
	  Enabling this option will allow you to obtain additional diagnostic
	  information useful for developing or troubleshooting CQHCI
	  implementations. This information is provided through debugfs and
	  can include detailed command queue state, error logs, and other
	  low-level operational details.

	  If you are a developer working on MMC host drivers or if you need
	  to troubleshoot issues with CQHCI, you may want to enable this.
	  Otherwise, it is safe to say N to avoid the overhead that comes
	  with enabling debug features.
